<!DOCTYPE html>
<html>
  <head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Transit Panel Screen</title>
    
    <link rel="stylesheet" type="text/css" href="panel.css">
    
  </head>
  
<body>

  <header>
    <div id="header">
      <img id='pin' src="pin.png"/>
       <h4> Admin </h4>
    </div>
     
   <a href="/admin/transit">
     <img id="logo" src="logo.png"/>
   </a>
   
   <h3> Tasks<sub>6 new</sub></h3>
   <hr/>
  </header> 
  
  
  <main>
  <details>
    <summary>
      <span>PINNACLE STUDIO</span>
      <ul>
        <li>reports <sup>1</sup> </li>
      </ul>
     <p>delivered</p>
    </summary>
    
   <div id="more">
    
      <img class="phone" src="phone.png"/>
      
      <div class="contact">
      <h4 class="contactHead"> Contacts </h4>
      <div>
        <p>
          <span>Bookers </span>
          <ul>
            <li class="no">
              <span>3773838383</span>
              <sub>copied</sub>
            </li>
          </ul>
          <hr>
        </p>
        
        <p>
         <span>Drivers</span>
         <ul>
            <li class="no">
              <span>3773838383</span>
              <sub>copied</sub>
              </li>
            <li class="no">
              <span>3838838333</span>
              <sub>copied</sub>
              </li>
            <li class="no">
              <span>3773838383</span>
              <sub>copied</sub>
              </li>
          </ul>
          <hr>
        </p>
        
        <p>
         <span>Mechanics</span>
         <ul>
            <li class="no">
              <span>3773838383</span>
              <sub>copied</sub>
              </li>
            <li class="no">
              <span>3838838333</span>
              <sub>copied</sub>
              </li>
            <li class="no">
              <span>3773838383</span>
              <sub>copied</sub>
              </li>
          </ul>
          <hr>
        </p>
        
        <p>
         <span>Loaders</span>
         <ul>
            <li class="no">
              <span>3773838383</span>
              <sub>copied</sub>
              </li>
            <li class="no">
              <span>3838838333</span>
              <sub>copied</sub>
              </li>
            <li class="no">
              <span>3773838383</span>
              <sub>copied</sub>
              </li>
          </ul>
          <hr>
        </p>
       </div>
      <h4 class="contactFoot">X</h4>
      </div>
   
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    
    <ul id="origin"> 
    <li>pickup: <span> Ikire stationnnnnnnsjsjjsjskskskskkskshshjdjdjdsjsjsjs</span></li>
    <li>delivery: <span>Akureddddddxxxxxxxxxxxxhshhshshshgdhshshjshsjshshsh</span></li>
    </ul>
    
    <div class="para"> 
    Trip ID: 
    <span> jdkkdkdkekskdjdjdjjejekdjdjjdjdjdkekekdkjdieieiejdjjwijsjdueiiekdjdjejueuejbdudhueuejdhhxuehbehhde
    </span>
    <img data-id="jdkkdkdkekskdjdjdjjejekdjdjjdjdjdkekekdkjdieieiejdjjwijsjdueiiekdjdjejueuejbdudhueuejdhhxuehbehhde" src="copy.png"/>
    <h6 class="copy">coppied</h6>
    </div>
    
    <ul class="status"> 
    <li>progress: <span>Delivered<span></li>
    <li class="mark"><button class="remove">mark as arrived</button></li>
    </ul>
    
    <br>
    <hr>
    
    <h4 id="expect"> REPORT<span>Expected reports: 4 </span></h4>
    <article>
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    <ul id="report" class="status"> 
    <li class="first">status: <span>Good</span></li>
    <li><a href="#"> location </a></li>
    </ul>
    <p id="remark">
      remark: 
      <span> trip is going as planned </span></p>
    </article>
    
    <article>
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    <ul id="report" class="status"> 
    <li class="first">status: <span>Good</span></li>
    <li><a href="#"> location </a></li>
    </ul>
    <p id="remark">
      remark: 
      <span> trip is going as planned </span></p>
    </article>
    
    <article>
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    <ul id="report" class="status"> 
    <li class="first">status: <span>Good</span></li>
    <li><a href="#"> location </a></li>
    </ul>
    <p id="remark">
      remark: 
      <span> trip is going as planned </span></p>
    </article>
    
    <article>
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    <ul id="report" class="status"> 
    <li class="first">status: <span>Good</span></li>
    <li><a href="#"> location </a></li>
    </ul>
    <p id="remark">
      remark: 
      <span> trip is going as planned </span></p>
    </article>
    
  </div>
  </details>
  
  
   <details>
    <summary>
      <span>Crown STUDIO</span>
      <ul>
        <li>reports <sup>1</sup> </li>
      </ul>
     <p>delivered</p>
    </summary>
    
   <div id="more">
     
      <img class="phone" src="phone.png"/>
      <div class="contact">
      <h4 class="contactHead"> Contact </h4>
      <div>
        <p>
          <span>Bookers </span>
          <ul>
            <li>3773838383</li>
          </ul>
          <hr>
        </p>
        
        <p>
         <span>Drivers</span>
         <ul>
            <li>3773838383</li>
            <li>3838838333</li>
            <li>3773838383</li>
          </ul>
          <hr>
        </p>
        
        <p>
         <span>Mechanics</span>
         <ul>
            <li>3773838383</li>
            <li>3838838333</li>
            <li>3773838383</li>
          </ul>
          <hr>
        </p>
        
        <p>
         <span>Loaders</span>
         <ul>
            <li>3773838383</li>
            <li>3838838333</li>
            <li>3773838383</li>
          </ul>
          <hr>
        </p>
       </div>
      <h4 class="contactFoot">X</h4>
      </div>
      
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    
    <ul id="origin"> 
    <li>pickup: <span>Ibadanhshhshehsbbdbxbbxbxjjisksjjsndndnndndndndndndn</span></li>
    <li>delivery: <span>Akuregsheuuebxbnsjskisiksjsnsnsnsnjsjsjdjjdjsjdjjd</span></li>
    </ul>
    
    <div class="para"> 
    Trip ID: 
    <span>
      jdkkdkdkekskdjdjdjjejekdjdjjdjdjdkekekdkjdieieiejdjjwijsjdueiiekdjdjejueuejbdudhueuejdhhxuehbehhde
    </span>
    <img data-id="jdkkdkdkekskdjdjdjjejekdjdjjdjdjdkekekdkjdieieiejdjjwijsjdueiiekdjdjejueuejbdudhueuejdhhxuehbehhde" src="copy.png"/>
    <h6 class="copy">coppied</h6>
    </div>
    
    <ul class="status"> 
    <li>progress: <span>Delivered<span></li>
    <li class="mark"><button class="remove">mark as arrived</button></li>
    </ul>
    
    <br>
    <hr>
    
    <h4 id="expect"> REPORT<span>Expected reports: 4 </span></h4>
    <article>
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    <ul id="report" class="status"> 
    <li class="first">status: <span>Good</span></li>
    <li><a href="#"> location </a></li>
    </ul>
    <p id="remark">
      remark: 
      <span> trip is going as planned </span></p>
    </article>
    
    <article>
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    <ul id="report" class="status"> 
    <li class="first">status: <span>Good</span></li>
    <li><a href="#"> location </a></li>
    </ul>
    <p id="remark">
      remark: 
      <span> trip is going as planned </span></p>
    </article>
    
    <article>
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    <ul id="report" class="status"> 
    <li class="first">status: <span>Good</span></li>
    <li><a href="#"> location </a></li>
    </ul>
    <p id="remark">
      remark: 
      <span> trip is going as planned </span></p>
    </article>
    
    <article>
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    <ul id="report" class="status"> 
    <li class="first">status: <span>Good</span></li>
    <li><a href="#"> location </a></li>
    </ul>
    <p id="remark">
      remark: 
      <span> trip is going as planned </span></p>
    </article>
    
  </div>
  </details>
  
  
  <details>
    <summary>
      <span>Gileard STUDIO</span>
      <ul>
        <li>reports <sup>1</sup> </li>
      </ul>
    <p>delivered</p>
    </summary>
    
   <div id="more">
    <img class="phone" src="phone.png"/>
    
      <div class="contact">
      <h4 class="contactHead"> Contact </h4>
      <div>
        <p>
          <span>Bookers </span>
          <ul>
            <li>3773838383</li>
          </ul>
          <hr>
        </p>
        
        <p>
         <span>Drivers</span>
         <ul>
            <li>3773838383</li>
            <li>3838838333</li>
            <li>3773838383</li>
          </ul>
          <hr>
        </p>
        
        <p>
         <span>Mechanics</span>
         <ul>
            <li>3773838383</li>
            <li>3838838333</li>
            <li>3773838383</li>
          </ul>
          <hr>
        </p>
        
        <p>
         <span>Loaders</span>
         <ul>
            <li>3773838383</li>
            <li>3838838333</li>
            <li>3773838383</li>
          </ul>
          <hr>
        </p>
       </div>
      <h4 class="contactFoot">X</h4>
      </div>
     
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    
    <ul id="origin"> 
    <li>pickup: <span>Ibadanhdyeuejbxbxbzbbshsjjdjdjsjdjjsjsjsjjdjjdjdjjd</span></li>
    <li>delivery: <span>Akurehdhdueiisjhdbxnjsksiieiskskksjsjsjsjsjjsjsjsjsjjs</span></li>
    </ul>
    
    <div class="para">
      Trip ID: 
    <span>
     jdkkdkdkekskdjdjdjjejekdjdjjdjdjdkekekdkjdieieiejdjjwijsjdueiiekdjdjejueuejbdudhueuejdhhxuehbehhde
    </span>
    <img data-id="jdkkdkdkekskdjdjdjjejekdjdjjdjdjdkekekdkjdieieiejdjjwijsjdueiiekdjdjejueuejbdudhueuejdhhxuehbehhde" src="copy.png"/>
    <h6 class="copy">coppied</h6>
    </div>
    
    <ul class="status"> 
    <li>progress: <span>Delivered<span></li>
    <li class="mark"><button class="remove">mark as arrived</button></li>
    </ul>
    
    <br>
    <hr>
    
    <h4 id="expect"> REPORT<span>Expected reports: 4 </span></h4>
    <article>
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    <ul id="report" class="status"> 
    <li class="first">status: <span>Good</span></li>
    <li><a href="#"> location </a></li>
    </ul>
    <p id="remark">
      remark: 
      <span> trip is going as planned </span></p>
    </article>
    
    <article>
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    <ul id="report" class="status"> 
    <li class="first">status: <span>Good</span></li>
    <li><a href="#"> location </a></li>
    </ul>
    <p id="remark">
      remark: 
      <span> trip is going as planned </span></p>
    </article>
    
    <article>
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    <ul id="report" class="status"> 
    <li class="first">status: <span>Good</span></li>
    <li><a href="#"> location </a></li>
    </ul>
    <p id="remark">
      remark: 
      <span> trip is going as planned </span></p>
    </article>
    
    <article>
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    <ul id="report" class="status"> 
    <li class="first">status: <span>Good</span></li>
    <li><a href="#"> location </a></li>
    </ul>
    <p id="remark">
      remark: 
      <span> trip is going as planned </span></p>
    </article>
    
  </div>
  </details>
  </main>
  
  
  <!-- construct the dialog that displays error during barcode generation-->
  <dialog id="not_found">
  <p> Error, please try again</p>
  <form method="dialog">
  <p> <button value="cancel">cancel</button> </p>
  </form>
  </dialog>
  
  
  
  <!-- construct the dialog that displays barcode generated from trip id-->
  <dialog id="barcode">
  <div>
    <img id="code" src="logo.jpeg"/>
  </div>
  <form method="dialog">
  <p><button value="cancel">close</button> </p>
  </form>
  </dialog>
  
    
 <script src="panel.js"></script>

</body>
</html>