


   @keyframes copyAnime {
    0%   {opacity: 0;}
    50%  {opacity: 1;}
    100% {opacity: 0;}
   }
   
   
   @keyframes removeAnime {
      0%   {
        opacity: 1;
      }
      50%  {
        opacity: 0.5;
      }
      100% {
        opacity: 0;
      }
   }
   
   
    body {
        margin: 0;
        padding: 0 0 300px 0;
        background-color: #D3D3D3;
        overflow-y: auto;
        overflow-x: hidden;
        user-select: none;
      }
      
    #header {
        width: 180px;
        border: 2px solid rgb(2, 39, 53);
        margin: auto;
        margin-top: 10px;
        display: flex;
        border-radius: 10px;
        padding: 4px;
        justify-content: center;
      }
      
    #header h4 { 
        margin: 5px;
        font-weight: normal;
        color: rgb(2, 39, 53);
      }
      
      #pin {
        width: 23px;
        margin: 2px 0 0 0;
        opacity: 0.7;
      }

      header {
        position: fixed;
        background-color: #D3D3D3;
        width: 100%;
        z-index: 1;
      }
      
      header > hr {
        margin-top: 20px;
      }
      
      #logo {
        width: 50px;
        border-radius: 10px;
        position: relative;
        bottom: 10px;
        left: 20px;
      }
      
      header > h3 {
        text-align: center;
        position: relative;
        bottom: 15px;
        margin: 0;
        color: rgb(2, 39, 53);
      }
      
     sup {
       background-color: white;
       font-weight: normal;
       font-size: 13px;
       padding: 1px 2px 1px 2px;
       border-radius: 10px;
       pointer-events: none;
     }
 
     
     details {
        border: 1px solid rgb(2, 39, 53);
        border-radius: 10px;
        width: 50%;
        overflow: hidden;
        position: relative;
        top: 220px;
        margin: auto;
        margin-bottom: 50px;
        animation: removeAnime;
        animation-play-state: paused;
        animation-duration: 0.2s;
        animation-fill-mode: forwards;
      }
      
      summary {
        border-bottom: 1px solid rgb(2, 39, 53);
        padding: 10px 10px 2px 40px;
        margin-bottom: 1px;
        overflow: auto;
        cursor: pointer;
        border-radius: 10px;
        font-size: 15px;
        color: rgb(2, 39, 53);
      }
      
      summary > ul {
        display: inline-block;
        margin: 0;
        padding: 0;
        padding-right: 20px;
        float: right;
        pointer-events: none;
      }
      
      summary li {
        display: inline-block;
        margin-right: 15px;
        pointer-events: none;
      }
      
      summary span {
        pointer-events: none;
        display: inline-block;
        width: 50%;
        white-space: nowrap;
        overflow: scroll;
        position: relative;
        top: 3px;
      }
      
      summary > p {
        margin: 0;
        padding: 0;
        padding-top: 5px;
        text-align: center;
        font-size: 12px;
        pointer-events: none;
      }
      
      summary span::-webkit-scrollbar {
        display: none;
      }
      
      
      sub {
        color: green;
        font-size: 11px;
        font-weight: normal;
        position: relative;
        left: 3px;
        bottom: 3px;
        pointer-events: none;
      }
     
     .created{
       font-size: 12px;
       padding-left: 10px;
       margin-bottom: 0;
     }
     
     .created > span {
       font-size: 14px;
     }
     
     .created sub {
       color: black;
       font-size: 11px;
     }
     
     #more {
       position: relative;
       height: 350px;
       overflow-y: scroll;
       overflow-x: hidden;
       transition: 0.2s;
     }
     
     #chat {
       margin: 0;
       padding: 0;
       position: absolute;
       right: 15px;
       top: 8px;
       cursor: pointer;
     }
     
     #chat > img {
       width: 30px;
     }
     
     #origin {
       margin: 20px 0 0 0;
       padding: 0 0 0 75px;
       width: 100%;
     }

   
     #origin > li {
       font-size: 12px;
       padding-bottom: 10px;
     }
     
     #origin span {
       font-size: 14px;
       color: rgb(2, 39, 53);
       font-weight: 600;
       opacity: 0.7;
       margin-left: 10px;
       display: inline-block;
       width: 60%;
       white-space: nowrap;
       overflow: scroll;
       position: relative;
       top: 4px;
     }
     
     #origin span::-webkit-scrollbar {
        display: none;
     }
     
     .first {
       margin-right: 80px;
     }
     
     .para {
       margin: 2px 0 0 20px;
       font-size: 13px;
       font-weight: bold;
       color: rgb(2, 39, 53);
     }
     
     .para > span {
       font-size: 13px;
       font-weight: normal;
       display: inline-block;
       width: 65%;
       white-space: nowrap;
       padding: 5px 5px 5px 10px;
       color: black;
       background-color: #E5E4E2;
       border-radius: 2px;
       overflow: scroll;
       position: relative;
       left: 5px;
       top: 5px;
     }
     
   .para > span::-webkit-scrollbar {
        display: none;
    }
    
    .para > img {
      width: 30px;
      position: relative;
      top: 10px;
      left: 5px;
      cursor: pointer;
    }
     
    .copy {
      margin: 0;
      padding: 2px 0 0 80px;
      font-size: 11px;
      position: absolute;
      width: 100%;
      text-align: center;
      opacity: 0;
      animation: copyAnime;
      animation-duration: 1.5s;
      animation-play-state: paused;
    }
    
     
     #more > h4 {
       margin: 0 0 20px 0;
       padding-left: 5px;
       font-size: 15px;
     }

      #expect {
        color: rgb(2, 39, 53);
      }
     
     #expect span {
       float: right;
       margin-right: 10px;
       font-weight: normal;
     }
     
     article {
       width: 50%;
       margin: auto;
       background-color: #F5F5F5;
       border-radius: 10px;
       padding: 1px;
       padding-left: 20px;
       margin-bottom: 30px;
     }

     .status {
      margin: 30px 0 0 20px;
      padding: 0;
    }
    
    .status > li {
      display: inline-block;
      font-size: 12px;
    }
    
    .status span {
      font-size: 15px;
      font-weight: bold;
      color: rgb(2, 39, 53);
    }
    
    .status button {
      background-color: orange;
      cursor: pointer;
      padding: 3px;
    }


     #report {
       margin-top: 10px;
       margin-bottom: 15px;
     }
     
     #remark {
       margin: 0 0 8px 2px;
       font-size: 13px;
     }
     
     #remark > span {
       font-size: 15px;
     }
     
     
     
@media only screen and (max-width: 1000px) { 
  
  details {
    width: 70%;
  }

  #origin {
    margin: 20px 0 0 0;
  }

  .first {
    margin-right: 50px;
  }

  #chat {
    cursor: auto;
  }

  summary {
    cursor: auto;
  }

  .para > img {
    cursor: auto;
  }

  .status button {
    cursor: auto;
  }
  



}
     

     
     
      
      
@media only screen and (max-width: 650px) { 
  header > img {
     width: 37px;
   }
   
   header {
     padding: 2px;
   }

   #header {
    width: 150px;
   }

   header h4 { 
     font-size: 15px;
  }
 
  details {
     width: 90%;
   }

  summary {
    padding-left: 20px;
    font-size: 14px;
  }

  summary > ul {
    padding-right: 10px;
  }
  
  summary li {
    margin-right: 10px;
  }

  .first {
    margin-right: 50px;
  }


  article {
    width: 60%;
  }
}


