<!DOCTYPE html>
<html>
  <head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="panel.css">
    
  </head>
  
<body>

  <header>
    <div id="header">
      <img id='pin' src="pin.png"/>
       <h4> Admin </h4>
    </div>
     
   <img src="images_5.jpeg"/>
   
   <h3> Tasks<sub>6 new</sub> </h3>
  </header> 
  
  <details>
    <summary>
      IBADAN TO AKURE
      <sub id="info">status</sub>
      <ul>
        <li>reports <sup>1</sup> </li>
        <li>chats <sup>2</sup> </li>
      </ul>
    </summary>
    
   <div id="more">
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    
    <div id="chat">
      <img src="chat.png"/>
      <sup>2</sup>
    </div>
    
    <ul id="origin"> 
    <li class="first">origin: <span> Ikire station<span></li>
    <li>destination: <span>Akureddddddxxxxxxxxxxxxxxxxxxxxxxxxxxx</span></li>
    </ul>
    
    <div class="para"> 
    Trip ID: 
    <span> jdkkdkdkekskdjdjdjjejekdjdjjdjdjdkekekdkjdieieiejdjjwijsjdueiiekdjdjejueuejbdudhueuejdhhxuehbehhde
    </span>
    <img src="copy.png"/>
    <h6 class="copy">coppied</h6>
    </div>
    
    <ul class="status"> 
    <li class="first">status: <span>open<span></li>
    <li><button class="remove">mark as closed</button></li>
    </ul>
    
    <br>
    <hr>
    
    <h4 id="expect"> REPORT<span>Expected reports: 4 </span></h4>
    <article>
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    <ul id="report" class="status"> 
    <li class="first">status: <span>Good</span></li>
    <li><a href="#"> location </a></li>
    </ul>
    <p id="remark">
      remark: 
      <span> trip is going as planned </span></p>
    </article>
    
    <article>
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    <ul id="report" class="status"> 
    <li class="first">status: <span>Good</span></li>
    <li><a href="#"> location </a></li>
    </ul>
    <p id="remark">
      remark: 
      <span> trip is going as planned </span></p>
    </article>
    
    <article>
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    <ul id="report" class="status"> 
    <li class="first">status: <span>Good</span></li>
    <li><a href="#"> location </a></li>
    </ul>
    <p id="remark">
      remark: 
      <span> trip is going as planned </span></p>
    </article>
    
    <article>
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    <ul id="report" class="status"> 
    <li class="first">status: <span>Good</span></li>
    <li><a href="#"> location </a></li>
    </ul>
    <p id="remark">
      remark: 
      <span> trip is going as planned </span></p>
    </article>
    
  </div>
  </details>
  
  
   <details>
    <summary>
      IBADAN TO AKURE
      <sub id="info">status</sub>
      <ul>
        <li>reports <sup>1</sup> </li>
        <li>chats <sup>2</sup> </li>
      </ul>
    </summary>
    
   <div id="more">
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    
    <div id="chat">
      <img src="chat.png"/>
      <sup>2</sup>
    </div>
    
    <ul id="origin"> 
    <li class="first">origin: <span>Ibadan<span></li>
    <li>destination: <span>Akure</span></li>
    </ul>
    
    <div class="para"> 
    Trip ID: 
    <span>
      jdkkdkdkekskdjdjdjjejekdjdjjdjdjdkekekdkjdieieiejdjjwijsjdueiiekdjdjejueuejbdudhueuejdhhxuehbehhde
    </span>
    <img src="copy.png"/>
    <h6 class="copy">coppied</h6>
    </div>
    
    <ul class="status"> 
    <li class="first">status: <span>open<span></li>
    <li><button class="remove">mark as closed</button></li>
    </ul>
    
    <br>
    <hr>
    
    <h4 id="expect"> REPORT<span>Expected reports: 4 </span></h4>
    <article>
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    <ul id="report" class="status"> 
    <li class="first">status: <span>Good</span></li>
    <li><a href="#"> location </a></li>
    </ul>
    <p id="remark">
      remark: 
      <span> trip is going as planned </span></p>
    </article>
    
    <article>
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    <ul id="report" class="status"> 
    <li class="first">status: <span>Good</span></li>
    <li><a href="#"> location </a></li>
    </ul>
    <p id="remark">
      remark: 
      <span> trip is going as planned </span></p>
    </article>
    
    <article>
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    <ul id="report" class="status"> 
    <li class="first">status: <span>Good</span></li>
    <li><a href="#"> location </a></li>
    </ul>
    <p id="remark">
      remark: 
      <span> trip is going as planned </span></p>
    </article>
    
    <article>
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    <ul id="report" class="status"> 
    <li class="first">status: <span>Good</span></li>
    <li><a href="#"> location </a></li>
    </ul>
    <p id="remark">
      remark: 
      <span> trip is going as planned </span></p>
    </article>
    
  </div>
  </details>
  
  
  <details>
    <summary>
      IBADAN TO AKURE 
      <sub id="info">status</sub>
      <ul>
        <li>reports <sup>1</sup> </li>
        <li>chats <sup>2</sup> </li>
      </ul>
    </summary>
    
   <div id="more">
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    
    <div id="chat">
      <img src="chat.png"/>
      <sup>2</sup>
    </div>
    
    <ul id="origin"> 
    <li class="first">origin: <span>Ibadan<span></li>
    <li>destination: <span>Akure</span></li>
    </ul>
    
    <div class="para">
      Trip ID: 
    <span>
     jdkkdkdkekskdjdjdjjejekdjdjjdjdjdkekekdkjdieieiejdjjwijsjdueiiekdjdjejueuejbdudhueuejdhhxuehbehhde
    </span>
    <img src="copy.png"/>
    <h6 class="copy">coppied</h6>
    </div>
    
    <ul class="status"> 
    <li class="first">status: <span>open<span></li>
    <li><button class="remove">mark as closed</button></li>
    </ul>
    
    <br>
    <hr>
    
    <h4 id="expect"> REPORT<span>Expected reports: 4 </span></h4>
    <article>
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    <ul id="report" class="status"> 
    <li class="first">status: <span>Good</span></li>
    <li><a href="#"> location </a></li>
    </ul>
    <p id="remark">
      remark: 
      <span> trip is going as planned </span></p>
    </article>
    
    <article>
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    <ul id="report" class="status"> 
    <li class="first">status: <span>Good</span></li>
    <li><a href="#"> location </a></li>
    </ul>
    <p id="remark">
      remark: 
      <span> trip is going as planned </span></p>
    </article>
    
    <article>
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    <ul id="report" class="status"> 
    <li class="first">status: <span>Good</span></li>
    <li><a href="#"> location </a></li>
    </ul>
    <p id="remark">
      remark: 
      <span> trip is going as planned </span></p>
    </article>
    
    <article>
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    <ul id="report" class="status"> 
    <li class="first">status: <span>Good</span></li>
    <li><a href="#"> location </a></li>
    </ul>
    <p id="remark">
      remark: 
      <span> trip is going as planned </span></p>
    </article>
    
  </div>
    
  </details>
  
    
 <script src="panel.js"></script>

</body>
</html>