


   @keyframes copyAnime {
    0%   {opacity: 0;}
    50%  {opacity: 1;}
    100% {opacity: 0;}
   }
   
   
   @keyframes removeAnime {
      0%   {
        opacity: 1;
      }
      50%  {
        opacity: 0.5;
      }
      100% {
        opacity: 0;
      }
   }
   
   
    body {
        margin: 0;
        padding: 0 0 50px 0;
        background-color: #D3D3D3;
        overflow-y: scroll;
        overflow-x: hidden;
      }
      
    header {
        width: 100px;
        border: 1px solid red;
        margin: auto;
        margin-top: 20px;
        display: flex;
        border-radius: 10px;
        padding: 3px 5px 3px 30px;
      }
      
    header h4 { 
        margin: 5px;
        font-weight: normal;
      }
      
      #pin {
        width: 15px;
        height: 20px;
        margin: 3px 0 0 0;
      }
      
      body > img {
        width: 50px;
        margin: 30px 30px 0 30px;
        border-radius: 10px;
      }
      
      body > h2 {
        text-align: center;
        margin-bottom: 50px;
      }
      
     sup {
       background-color: white;
       font-weight: normal;
       font-size: 13px;
       padding: 3px;
       border-radius: 10px;
       pointer-events: none;
     }
 
     
     details {
        border: 1px solid red;
        border-radius: 10px;
        width: 70%;
        overflow: hidden;
        margin: auto;
        margin-bottom: 50px;
        animation: removeAnime;
        animation-play-state: paused;
        animation-duration: 0.2s;
        animation-fill-mode: forwards;
      }
      
      summary {
        border-bottom: 1px solid red;
        padding: 10px;
        padding-left: 20px;
        overflow: auto;
        cursor: pointer;
        border-radius: 10px;
      }
      
      summary > ul {
        display: inline-block;
        margin: 0;
        padding: 0;
        float: right;
        pointer-events: none;
      }
      
      summary li {
        display: inline-block;
        margin-right: 10px;
        pointer-events: none;
      }
      
      sub {
        color: green;
        font-size: 10px;
        font-weight: normal;
        position: relative;
        left: 3px;
        bottom: 3px;
        pointer-events: none;
      }
     
     .created{
       font-size: 12px;
       padding-left: 10px;
       margin-bottom: 0;
     }
     
     .created > span {
       font-size: 14px;
     }
     
     .created sub {
       color: black;
       font-size: 11px;
     }
     
     #more {
       position: relative;
       height: 350px;
       overflow-y: scroll;
       overflow-x: hidden;
       transition: 0.2s;
     }
     
     #chat {
       margin: 0;
       padding: 0;
       position: absolute;
       right: 15px;
       top: 8px;
     }
     
     #chat > img {
       width: 30px;
     }
     
     #origin {
       margin: 20px 0 0 80px;
       padding: 0;
     }
     
     #origin > li {
       display: inline-block;
       font-size: 12px;
     }
     
     #origin span {
       font-size: 16px;
     }
     
     .first {
       margin-right: 50px;
     }
     
     .para {
       margin: 10px 0 0 20px;
       font-size: 15px;
       font-weight: bold;
     }
     
     .para > span {
       font-size: 13px;
       font-weight: normal;
       display: inline-block;
       width: 65%;
       white-space: nowrap;
       padding: 5px 5px 5px 10px;
       background-color: #E5E4E2;
       border-radius: 2px;
       overflow: scroll;
       position: relative;
       left: 5px;
       top: 5px;
     }
     
   .para > span::-webkit-scrollbar {
        display: none;
    }
    
    .para > img {
      width: 30px;
      position: relative;
      top: 10px;
      left: 5px;
    }
     
    .copy {
      margin: 0;
      padding: 2px 0 0 80px;
      position: absolute;
      width: 100%;
      text-align: center;
      opacity: 0;
      animation: copyAnime;
      animation-duration: 1.5s;
      animation-play-state: paused;
    }
    
    .status {
       margin: 30px 0 0 20px;
       padding: 0;
     }
     
     .status > li {
       display: inline-block;
       font-size: 12px;
     }
     
     .status span {
       font-size: 16px;
     }
     
     .status button {
       background-color: orange;
     }
     
     #more > h4 {
       margin: 0 0 30px 0;
       padding-left: 5px;
     }
     
     #expect span {
       float: right;
       margin-right: 10px;
       font-weight: normal;
     }
     
     article {
       width: 60%;
       margin: auto;
       background-color: #F5F5F5;
       border-radius: 10px;
       padding: 1px 0 5px 10px;
       margin-bottom: 30px;
     }
     
     #report {
       margin-top: 10px;
       margin-bottom: 15px;
     }
     
     #remark {
       margin: 0 0 8px 10px;
       font-size: 13px;
     }
     
     #remark > span {
       font-size: 16px;
     }
     
     
     
     
     

     
     
      
      
@media only screen and (max-width: 800px) { 
    body > img {
        width: 40px;
        margin: 20px 30px 0 30px;
   }
   
   details {
     width: 90%;
   }
  
}