<!DOCTYPE html>
<html>
  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="stylesheet" type="text/css" href="payroll.css">
    
  </head>
  
<body>
  <header>
    <div id="header">
      <img id='pin' src="pin.png"/>
       <h4> Admin </h4>
    </div>
     
   <a href="/admin/transit">
     <img id="logo" src="logo.jpeg"/>
   </a>
   
   <h3 id="nav">
     <span id="trip">Trips</span>
     <span id="pay">Payroll</span>
   </h3>
   <hr/>
  </header> 
  
  <section>
    
   <details>
    <summary>Guide</summary>
    <p>Compute the wage of a freelancer from a specified date by selecting the freelancer category and entering freelancer ID.</p>
    <h5>Note: </h5>
    <ul>
      <li>You must have updated your payroll model in the admin interface for this to work.</li>
    </ul>
    </details>
   
  <div id="radio">
  <input class="radio" type="radio" name="freelancer" value="Driver" checked> Driver
  <input class="radio" type="radio" name="freelancer" value="Mechanic"> Mechanic
  <input class="radio" type="radio" name="freelancer" value="Loader"> Loader
  </div>
  
  <br/>
   
  <div id="search">
  <input id="id" placeholder=" Enter Freelancer ID" autofocus/>
  <button>Query</button>
  </div>
  
   <br/>
  
  <p id="input">
    compute wage from 
    <label id="browse" for="time">this</label>
    date.
     <input
     type="date"
     id="time"
     class="visually-hidden" />
   </p>
  
  <div id="result">
    
  </div>
  </section>
  
  
  <!-- construct the dialog that displays error on look up-->
  <dialog id="not_found">
  <p id="error"> ID not found ! </p>
  <form method="dialog">
  <p> <button class="button" value="cancel">cancel</button> </p>
  </form>
  </dialog>
  
  
  <!-- construct the dialog that displays trip and pay summary on look up-->
  <dialog id="payroll">
    
  <div id="profile">
  <p>• SULE ADESHOLA</p>
  <a target="_blank" href="logo.jpeg">
  <img src="logo.jpeg"/>
  </a>
  </div>
  
  <div id="tripsummary">
    <h4>Trip summary<sub>from 2022-06-07</sub></h4>
  <ul>
    <li>Short-range: <span>Nil</span></li>
    <li>Mid-range: <span>Nil</span></li>
    <li>Long-range: <span>Nil</span></li>
  </ul>
  <p><b>Total: </b><span>Nil</span></p>
  </div>
  
  <p><b>Wage: </b><span>Nil</span></p>
  
  <form method="dialog">
  <p id="button"><button class="button" value="cancel">close</button></p>
  </form>
  
  </dialog>
  
  
  
<script src="payroll.js"></script>
  
</body>
  
</html>