{% load static %}
<!DOCTYPE html>
<html>
  <head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Transit Manage Screen</title>
    
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/manage.css' %}">
    
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.12.0/mapbox-gl.css" rel="stylesheet">
    
  </head>
  
<body>

  <header>
    <div id="header">
      <img id='pin' src="{% static 'app/image/pin.png' %}"/>
       <h4>
          {{ user.username }} 
          <sub> {{ user.user_type }} </sub>
       </h4>
    </div>
     
   <a href="/admin/transit">
     <img id="logo" src="{% static 'app/image/logo.png' %}"/>
   </a>
   
   <h3> Trips<sub>(6)</sub></h3>
   
   <a class="logout" href="{% url "logout" %}">
     Logout
   </a>
   
   <hr/>
  </header> 
  
  
  <main>
  <div id="notify">
    <p>
     <span>PINNACLE STUDIO</span>
     trip updated successfully
    </p>
  </div>

  <h5 class="due">Due in 2 days</h5>
  
  <details>
    <summary>
      <span>pinnacle studio</span>
      <div id="info"><span></span>report</div>
     <p>delivered<span class="new">(new)</span></p>
    </summary>
    
   <div id="more">
    
      <img class="phone" src="{% static 'app/image/phone.png' %}"/>
      
      <div class="contact">
      <h4 class="contactHead"> Contacts </h4>
      <div>
        <p>
          <span>Bookers</span>
          <ul>
            <li class="no">
              <p>oyelodunafonjaoyelodunafonjaoyelodunafonjaoyelodunafonja
              </p>
              <span>3773838383</span>
              <sub>copied</sub>
            </li>
          </ul>
          <hr>
        </p>
        
        <p>
         <span>Drivers</span>
         <ul>
            <li class="no">
              <p>oyelodun afonja</p>
              <span>3773838383</span>
              <sub>copied</sub>
              </li>
            <li class="no">
              <p>oyelodun afonja</p>
              <span>3838838333</span>
              <sub>copied</sub>
              </li>
            <li class="no">
              <p>oyelodun afonja</p>
              <span>3773838383</span>
              <sub>copied</sub>
              </li>
          </ul>
          <hr>
        </p>
        
        <p>
         <span>Mechanics</span>
         <ul>
            <li class="no">
              <p>oyelodun afonja</p>
              <span>3773838383</span>
              <sub>copied</sub>
              </li>
            <li class="no">
              <p>oyelodun afonja</p>
              <span>3838838333</span>
              <sub>copied</sub>
              </li>
            <li class="no">
              <p>oyelodun afonja</p>
              <span>3773838383</span>
              <sub>copied</sub>
              </li>
          </ul>
          <hr>
        </p>
        
        <p>
         <span>Loaders</span>
         <ul>
            <li class="no">
              <p>oyelodun afonja</p>
              <span>3773838383</span>
              <sub>copied</sub>
              </li>
            <li class="no">
              <p>oyelodun afonja</p>
              <span>3838838333</span>
              <sub>copied</sub>
              </li>
            <li class="no">
              <p>oyelodun afonja</p>
              <span>3773838383</span>
              <sub>copied</sub>
              </li>
          </ul>
          <hr>
        </p>
       </div>
      <h4 class="contactFoot">X</h4>
      </div>
   
    <p class="created" id="date">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    
    <ul id="origin"> 
    <li>pickup: <span> Ikire sta tionnnnnnnsjsjjsjskskskskkskshshjdjdjdsjsjsjs</span></li>
    <li>delivery: <span>Akured dddddxxxxxxxxxxxxhshhshshshgdhshshjshsjshshsh</span></li>
    </ul>
    
    <div class="para"> 
    Trip ID: 
    <span> 
    cea088de-498a-4511-93d4-3bb0b23cd845
    </span>
    <img data-id="cea088de-498a-4511-93d4-3bb0b23cd845" src="{% static 'app/image/copy.png' %}"/>
    <h6 class="copy">coppied</h6>
    </div>
    
    <ul class="status"> 
    <li>progress: <span>delivered<span></li>
    <li class="mark" data-name="PINNACLE STUDIO">
      <button>mark as arrived</button>
      <span>updating ...</span>
    </li>
    </ul>
    
    <br>
    <hr>
    
    <h4 id="expect">
     REPORT
   <span>Expected reports:<span class="reportCount">4(4)</span></span>
   </h4>
    <div id="article">
    <article>
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    <ul id="report" class="status"> 
    <li>status: <span>good</span></li>
    <br/>
    <li>progress: <span>pending</span></li>
    <li><button data-lat="48.8584" data-long="2.2945"> location </button></li>
    </ul>
    <p id="remark">
      remark: 
      <span> trip is going as planned </span>
    </p>
    </article>
    
    <article>
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    <ul id="report" class="status"> 
    <li>status: <span>Not-bad</span></li>
    <br/>
    <li>progress: <span>pending</span></li>
    <li><button data-lat="36.1069" data-long="-112.1123"> location </button></li>
    </ul>
    <p id="remark">
      remark: 
      <span> trip is going as planned </span></p>
    </article>
    
    <article>
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    <ul id="report" class="status"> 
    <li>status: <span>Good</span></li>
    <br/>
    <li>progress: <span>pending</span></li>
    <li><button data-lat="-18.2861" data-long="147.7000"> location </button></li>
    </ul>
    <p id="remark">
      remark: 
      <span> trip is going as planned </span></p>
    </article>
    
    <article>
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    <ul id="report" class="status"> 
    <li>status: <span>Good</span></li>
    <br/>
    <li>progress: <span>pending</span></li>
    <li><button data-lat="41.8902" data-long="12.4922"> location </button></li>
    </ul>
    <p id="remark">
      remark: 
      <span> trip is going as planned </span></p>
    </article>
    
    <p id="seeMore" class="see">see more reports </p>
    <p id="seeLess" class="see">see less reports </p>
    </div>
    
  </div>
  </details>
  
  
   <details>
    <summary>
      <span>crown studio</span>
      <div id="info"><span></span>report</div>
     <p>delivered<span class="new">(new)</span></p>
    </summary>
    
   <div id="more">
      <img class="phone" src="{% static 'app/image/phone.png' %}"/>
      
     <div class="contact">
      <h4 class="contactHead"> Contacts </h4>
      <div>
        <p>
          <span>Bookers </span>
          <ul>
            <li class="no">
              <span>3773838383</span>
              <sub>copied</sub>
            </li>
          </ul>
          <hr>
        </p>
        
        <p>
         <span>Drivers</span>
         <ul>
            <li class="no">
              <span>3773838383</span>
              <sub>copied</sub>
              </li>
            <li class="no">
              <span>3838838333</span>
              <sub>copied</sub>
              </li>
            <li class="no">
              <span>3773838383</span>
              <sub>copied</sub>
              </li>
          </ul>
          <hr>
        </p>
        
        <p>
         <span>Mechanics</span>
         <ul>
            <li class="no">
              <span>3773838383</span>
              <sub>copied</sub>
              </li>
            <li class="no">
              <span>3838838333</span>
              <sub>copied</sub>
              </li>
            <li class="no">
              <span>3773838383</span>
              <sub>copied</sub>
              </li>
          </ul>
          <hr>
        </p>
        
        <p>
         <span>Loaders</span>
         <ul>
            <li class="no">
              <span>3773838383</span>
              <sub>copied</sub>
              </li>
            <li class="no">
              <span>3838838333</span>
              <sub>copied</sub>
              </li>
            <li class="no">
              <span>3773838383</span>
              <sub>copied</sub>
              </li>
          </ul>
          <hr>
        </p>
       </div>
      <h4 class="contactFoot">X</h4>
      </div>
      
    <p class="created" id="date">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    
    <ul id="origin"> 
    <li>pickup: <span>Ibadanhshhshehsbbdbxbbxbxjjisksjjsndndnndndndndndndn</span></li>
    <li>delivery: <span>Akuregsheuuebxbnsjskisiksjsnsnsnsnjsjsjdjjdjsjdjjd</span></li>
    </ul>
    
    <div class="para"> 
    Trip ID: 
    <span>
      525e56d6-a4fc-45e5-844a-7636df7ebcd5
    </span>
    <img data-id="525e56d6-a4fc-45e5-844a-7636df7ebcd5" src="{% static 'app/image/copy.png' %}"/>
    <h6 class="copy">coppied</h6>
    </div>
    
    <ul class="status"> 
    <li>progress: <span>Delivered<span></li>
    <li class="mark" data-name="Crown STUDIO">
      <button>mark as arrived</button>
      <span>updating ...</span>
    </li>
    </ul>
    
    <br>
    <hr>
    
   <h4 id="expect">
     REPORT
   <span>Expected reports:<span class="reportCount">4(4)</span></span>
   </h4>
    <div id="article">
    <article>
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    <ul id="report" class="status"> 
    <li>status: <span>Good</span></li>
    <br/>
    <li>progress: <span>pending</span></li>
    <li><button> location </button></li>
    </ul>
    <p id="remark">
      remark: 
      <span> trip is going as planned </span></p>
    </article>
    
    <article>
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    <ul id="report" class="status"> 
    <li>status: <span>Good</span></li>
    <br/>
    <li>progress: <span>pending</span></li>
    <li><button> location </button></li>
    </ul>
    <p id="remark">
      remark: 
      <span> trip is going as planned </span></p>
    </article>
    
    <article>
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    <ul id="report" class="status"> 
    <li>status: <span>Good</span></li>
    <br/>
    <li>progress: <span>pending</span></li>
    <li><button> location </button></li>
    </ul>
    <p id="remark">
      remark: 
      <span> trip is going as planned </span></p>
    </article>
    
    <article>
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    <ul id="report" class="status"> 
    <li>status: <span>Good</span></li>
    <br/>
    <li>progress: <span>pending</span></li>
    <li><button> location </button></li>
    </ul>
    <p id="remark">
      remark: 
      <span> trip is going as planned </span></p>
    </article>
    
    <p id="seeMore" class="see">see more reports</p>
    <p id="seeLess" class="see">see less reports</p>
    </div>
    
  </div>
  </details>
  
  
  <details>
    <summary>
      <span>gileard studio</span>
      <div id="info"><span></span>report</div>
    <p>delivered<span class="new">(new)</span</p>
    </summary>
    
   <div id="more">
      <img class="phone" src="{% static 'app/image/phone.png' %}"/>
    
   <div class="contact">
      <h4 class="contactHead"> Contacts </h4>
      <div>
        <p>
          <span>Bookers </span>
          <ul>
            <li class="no">
              <span>3773838383</span>
              <sub>copied</sub>
            </li>
          </ul>
          <hr>
        </p>
        
        <p>
         <span>Drivers</span>
         <ul>
            <li class="no">
              <span>3773838383</span>
              <sub>copied</sub>
              </li>
            <li class="no">
              <span>3838838333</span>
              <sub>copied</sub>
              </li>
            <li class="no">
              <span>3773838383</span>
              <sub>copied</sub>
              </li>
          </ul>
          <hr>
        </p>
        
        <p>
         <span>Mechanics</span>
         <ul>
            <li class="no">
              <span>3773838383</span>
              <sub>copied</sub>
              </li>
            <li class="no">
              <span>3838838333</span>
              <sub>copied</sub>
              </li>
            <li class="no">
              <span>3773838383</span>
              <sub>copied</sub>
              </li>
          </ul>
          <hr>
        </p>
        
        <p>
         <span>Loaders</span>
         <ul>
            <li class="no">
              <span>3773838383</span>
              <sub>copied</sub>
              </li>
            <li class="no">
              <span>3838838333</span>
              <sub>copied</sub>
              </li>
            <li class="no">
              <span>3773838383</span>
              <sub>copied</sub>
              </li>
          </ul>
          <hr>
        </p>
       </div>
      <h4 class="contactFoot">X</h4>
      </div>
     
    <p class="created" id="date">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    
    <ul id="origin"> 
    <li>pickup: <span>Ibadanhdyeuejbxbxbzbbshsjjdjdjsjdjjsjsjsjjdjjdjdjjd</span></li>
    <li>delivery: <span>Akurehdhdueiisjhdbxnjsksiieiskskksjsjsjsjsjjsjsjsjsjjs</span></li>
    </ul>
    
    <div class="para">
      Trip ID: 
    <span>
     1edb3c02-e640-4116-829d-36f09c21de65
    </span>
    <img data-id="1edb3c02-e640-4116-829d-36f09c21de65" src="{% static 'app/image/copy.png' %}"/>
    <h6 class="copy">coppied</h6>
    </div>
    
    <ul class="status"> 
    <li>progress: <span>Delivered<span></li>
    <li data-name="Gileard STUDIO" class="mark">
      <button>mark as arrived</button>
      <span>updating ...</span>
      </li>
    </ul>
    
    <br>
    <hr>
    
   <h4 id="expect">
     REPORT
   <span>Expected reports:<span class="reportCount">4(4)</span></span>
   </h4>
   
   <div id="article">
    <article>
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    <ul id="report" class="status"> 
    <li>status: <span>Good</span></li>
    <br/>
    <li>progress: <span>pending</span></li>
    <li><button> location </button></li>
    </ul>
    <p id="remark">
      remark: 
      <span> trip is going as planned </span></p>
    </article>
    
    <article>
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    <ul id="report" class="status"> 
    <li>status: <span>Good</span></li>
    <br/>
    <li>progress: <span>pending</span></li>
    <li><button> location </button></li>
    </ul>
    <p id="remark">
      remark: 
      <span> trip is going as planned </span></p>
    </article>
    
    <article>
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    <ul id="report" class="status"> 
    <li>status: <span>Good</span></li>
    <br/>
    <li>progress: <span>pending</span></li>
    <li><button> location </button></li>
    </ul>
    <p id="remark">
      remark: 
      <span> trip is going as planned </span></p>
    </article>
    
    <article>
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    <ul id="report" class="status"> 
    <li>status: <span>Good</span></li>
    <br/>
    <li>progress: <span>pending</span></li>
    <li><button> location </button></li>
    </ul>
    <p id="remark">
      remark: 
      <span> trip is going as planned </span></p>
    </article>
    
    <p id="seeMore" class="see"> see more reports </p>
    <p id="seeLess" class="see"> see less reports </p>
    </div>
    
  </div>
  </details>
  
  <h5 class="due">Due in 4 days</h5>
  
  <details>
    <summary>
      <span>pinnacle studio</span>
      <div id="info"><span></span>report</div>
     <p>delivered<span class="new">(new)</span></p>
    </summary>
    
   <div id="more">
    
      <img class="phone" src="{% static 'app/image/phone.png' %}"/>
      
      <div class="contact">
      <h4 class="contactHead"> Contacts </h4>
      <div>
        <p>
          <span>Bookers</span>
          <ul>
            <li class="no">
              <span>3773838383</span>
              <sub>copied</sub>
            </li>
          </ul>
          <hr>
        </p>
        
        <p>
         <span>Drivers</span>
         <ul>
            <li class="no">
              <span>3773838383</span>
              <sub>copied</sub>
              </li>
            <li class="no">
              <span>3838838333</span>
              <sub>copied</sub>
              </li>
            <li class="no">
              <span>3773838383</span>
              <sub>copied</sub>
              </li>
          </ul>
          <hr>
        </p>
        
        <p>
         <span>Mechanics</span>
         <ul>
            <li class="no">
              <span>3773838383</span>
              <sub>copied</sub>
              </li>
            <li class="no">
              <span>3838838333</span>
              <sub>copied</sub>
              </li>
            <li class="no">
              <span>3773838383</span>
              <sub>copied</sub>
              </li>
          </ul>
          <hr>
        </p>
        
        <p>
         <span>Loaders</span>
         <ul>
            <li class="no">
              <span>3773838383</span>
              <sub>copied</sub>
              </li>
            <li class="no">
              <span>3838838333</span>
              <sub>copied</sub>
              </li>
            <li class="no">
              <span>3773838383</span>
              <sub>copied</sub>
              </li>
          </ul>
          <hr>
        </p>
       </div>
      <h4 class="contactFoot">X</h4>
      </div>
   
    <p class="created" id="date">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    
    <ul id="origin"> 
    <li>pickup: <span> Ikire sta tionnnnnnnsjsjjsjskskskskkskshshjdjdjdsjsjsjs</span></li>
    <li>delivery: <span>Akured dddddxxxxxxxxxxxxhshhshshshgdhshshjshsjshshsh</span></li>
    </ul>
    
    <div class="para"> 
    Trip ID: 
    <span> 
    cea088de-498a-4511-93d4-3bb0b23cd845
    </span>
    <img data-id="cea088de-498a-4511-93d4-3bb0b23cd845" src="{% static 'app/image/copy.png' %}"/>
    <h6 class="copy">coppied</h6>
    </div>
    
    <ul class="status"> 
    <li>progress: <span>delivered<span></li>
    <li class="mark" data-name="PINNACLE STUDIO">
      <button>mark as arrived</button>
      <span>updating ...</span>
    </li>
    </ul>
    
    <br>
    <hr>
    
    <h4 id="expect">
     REPORT
   <span>Expected reports:<span class="reportCount">4(4)</span></span>
   </h4>
    <div id="article">
    <article>
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    <ul id="report" class="status"> 
    <li>status: <span>good</span></li>
    <br/>
    <li>progress: <span>pending</span></li>
    <li><button> location </button></li>
    </ul>
    <p id="remark">
      remark: 
      <span> trip is going as planned </span>
    </p>
    </article>
    
    <article>
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    <ul id="report" class="status"> 
    <li>status: <span>Not-bad</span></li>
    <br/>
    <li>progress: <span>pending</span></li>
    <li><button> location </button></li>
    </ul>
    <p id="remark">
      remark: 
      <span> trip is going as planned </span></p>
    </article>
    
    <article>
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    <ul id="report" class="status"> 
    <li>status: <span>Good</span></li>
    <br/>
    <li>progress: <span>pending</span></li>
    <li><button> location </button></li>
    </ul>
    <p id="remark">
      remark: 
      <span> trip is going as planned </span></p>
    </article>
    
    <article>
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    <ul id="report" class="status"> 
    <li>status: <span>Good</span></li>
    <br/>
    <li>progress: <span>pending</span></li>
    <li><button> location </button></li>
    </ul>
    <p id="remark">
      remark: 
      <span> trip is going as planned </span></p>
    </article>
    
    <p id="seeMore" class="see">see more reports </p>
    <p id="seeLess" class="see">see less reports </p>
    </div>
    
  </div>
  </details>
  
  
   <details>
    <summary>
      <span>crown studio</span>
      <div id="info"><span></span>report</div>
     <p>delivered<span class="new">(new)</span></p>
    </summary>
    
   <div id="more">
      <img class="phone" src="{% static 'app/image/phone.png' %}"/>
      
     <div class="contact">
      <h4 class="contactHead"> Contacts </h4>
      <div>
        <p>
          <span>Bookers </span>
          <ul>
            <li class="no">
              <span>3773838383</span>
              <sub>copied</sub>
            </li>
          </ul>
          <hr>
        </p>
        
        <p>
         <span>Drivers</span>
         <ul>
            <li class="no">
              <span>3773838383</span>
              <sub>copied</sub>
              </li>
            <li class="no">
              <span>3838838333</span>
              <sub>copied</sub>
              </li>
            <li class="no">
              <span>3773838383</span>
              <sub>copied</sub>
              </li>
          </ul>
          <hr>
        </p>
        
        <p>
         <span>Mechanics</span>
         <ul>
            <li class="no">
              <span>3773838383</span>
              <sub>copied</sub>
              </li>
            <li class="no">
              <span>3838838333</span>
              <sub>copied</sub>
              </li>
            <li class="no">
              <span>3773838383</span>
              <sub>copied</sub>
              </li>
          </ul>
          <hr>
        </p>
        
        <p>
         <span>Loaders</span>
         <ul>
            <li class="no">
              <span>3773838383</span>
              <sub>copied</sub>
              </li>
            <li class="no">
              <span>3838838333</span>
              <sub>copied</sub>
              </li>
            <li class="no">
              <span>3773838383</span>
              <sub>copied</sub>
              </li>
          </ul>
          <hr>
        </p>
       </div>
      <h4 class="contactFoot">X</h4>
      </div>
      
    <p class="created" id="date">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    
    <ul id="origin"> 
    <li>pickup: <span>Ibadanhshhshehsbbdbxbbxbxjjisksjjsndndnndndndndndndn</span></li>
    <li>delivery: <span>Akuregsheuuebxbnsjskisiksjsnsnsnsnjsjsjdjjdjsjdjjd</span></li>
    </ul>
    
    <div class="para"> 
    Trip ID: 
    <span>
      525e56d6-a4fc-45e5-844a-7636df7ebcd5
    </span>
    <img data-id="525e56d6-a4fc-45e5-844a-7636df7ebcd5" src="{% static 'app/image/copy.png' %}"/>
    <h6 class="copy">coppied</h6>
    </div>
    
    <ul class="status"> 
    <li>progress: <span>Delivered<span></li>
    <li class="mark" data-name="Crown STUDIO">
      <button>mark as arrived</button>
      <span>updating ...</span>
    </li>
    </ul>
    
    <br>
    <hr>
    
   <h4 id="expect">
     REPORT
   <span>Expected reports:<span class="reportCount">4(4)</span></span>
   </h4>
    <div id="article">
    <article>
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    <ul id="report" class="status"> 
    <li>status: <span>Good</span></li>
    <br/>
    <li>progress: <span>pending</span></li>
    <li><button> location </button></li>
    </ul>
    <p id="remark">
      remark: 
      <span> trip is going as planned </span></p>
    </article>
    
    <article>
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    <ul id="report" class="status"> 
    <li>status: <span>Good</span></li>
    <br/>
    <li>progress: <span>pending</span></li>
    <li><button> location </button></li>
    </ul>
    <p id="remark">
      remark: 
      <span> trip is going as planned </span></p>
    </article>
    
    <article>
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    <ul id="report" class="status"> 
    <li>status: <span>Good</span></li>
    <br/>
    <li>progress: <span>pending</span></li>
    <li><button> location </button></li>
    </ul>
    <p id="remark">
      remark: 
      <span> trip is going as planned </span></p>
    </article>
    
    <article>
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    <ul id="report" class="status"> 
    <li>status: <span>Good</span></li>
    <br/>
    <li>progress: <span>pending</span></li>
    <li><button> location </button></li>
    </ul>
    <p id="remark">
      remark: 
      <span> trip is going as planned </span></p>
    </article>
    
    <p id="seeMore" class="see">see more reports</p>
    <p id="seeLess" class="see">see less reports</p>
    </div>
    
  </div>
  </details>
  
  <h5 class="due">Due in 1 week</h5>
  
  <details>
    <summary>
      <span>gileard studio</span>
      <div id="info"><span></span>report</div>
    <p>delivered<span class="new">(new)</span></p>
    </summary>
    
   <div id="more">
    <img class="phone" src="{% static 'app/image/phone.png' %}"/>
    
   <div class="contact">
      <h4 class="contactHead"> Contacts </h4>
      <div>
        <p>
          <span>Bookers </span>
          <ul>
            <li class="no">
              <span>3773838383</span>
              <sub>copied</sub>
            </li>
          </ul>
          <hr>
        </p>
        
        <p>
         <span>Drivers</span>
         <ul>
            <li class="no">
              <span>3773838383</span>
              <sub>copied</sub>
              </li>
            <li class="no">
              <span>3838838333</span>
              <sub>copied</sub>
              </li>
            <li class="no">
              <span>3773838383</span>
              <sub>copied</sub>
              </li>
          </ul>
          <hr>
        </p>
        
        <p>
         <span>Mechanics</span>
         <ul>
            <li class="no">
              <span>3773838383</span>
              <sub>copied</sub>
              </li>
            <li class="no">
              <span>3838838333</span>
              <sub>copied</sub>
              </li>
            <li class="no">
              <span>3773838383</span>
              <sub>copied</sub>
              </li>
          </ul>
          <hr>
        </p>
        
        <p>
         <span>Loaders</span>
         <ul>
            <li class="no">
              <span>3773838383</span>
              <sub>copied</sub>
              </li>
            <li class="no">
              <span>3838838333</span>
              <sub>copied</sub>
              </li>
            <li class="no">
              <span>3773838383</span>
              <sub>copied</sub>
              </li>
          </ul>
          <hr>
        </p>
       </div>
      <h4 class="contactFoot">X</h4>
      </div>
     
    <p class="created" id="date">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    
    <ul id="origin"> 
    <li>pickup: <span>Ibadanhdyeuejbxbxbzbbshsjjdjdjsjdjjsjsjsjjdjjdjdjjd</span></li>
    <li>delivery: <span>Akurehdhdueiisjhdbxnjsksiieiskskksjsjsjsjsjjsjsjsjsjjs</span></li>
    </ul>
    
    <div class="para">
      Trip ID: 
    <span>
     1edb3c02-e640-4116-829d-36f09c21de65
    </span>
    <img data-id="1edb3c02-e640-4116-829d-36f09c21de65" src="{% static 'app/image/copy.png' %}"/>
    <h6 class="copy">coppied</h6>
    </div>
    
    <ul class="status"> 
    <li>progress: <span>Delivered<span></li>
    <li data-name="Gileard STUDIO" class="mark">
      <button>mark as arrived</button>
      <span>updating ...</span>
      </li>
    </ul>
    
    <br>
    <hr>
    
   <h4 id="expect">
     REPORT
   <span>Expected reports:<span class="reportCount">4(4)</span></span>
   </h4>
   
   <div id="article">
    <article>
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    <ul id="report" class="status"> 
    <li>status: <span>Good</span></li>
    <br/>
    <li>progress: <span>pending</span></li>
    <li><button> location </button></li>
    </ul>
    <p id="remark">
      remark: 
      <span> trip is going as planned </span></p>
    </article>
    
    <article>
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    <ul id="report" class="status"> 
    <li>status: <span>Good</span></li>
    <br/>
    <li>progress: <span>pending</span></li>
    <li><button> location </button></li>
    </ul>
    <p id="remark">
      remark: 
      <span> trip is going as planned </span></p>
    </article>
    
    <article>
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    <ul id="report" class="status"> 
    <li>status: <span>Good</span></li>
    <br/>
    <li>progress: <span>pending</span></li>
    <li><button> location </button></li>
    </ul>
    <p id="remark">
      remark: 
      <span> trip is going as planned </span></p>
    </article>
    
    <article>
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    <ul id="report" class="status"> 
    <li>status: <span>Good</span></li>
    <br/>
    <li>progress: <span>pending</span></li>
    <li><button> location </button></li>
    </ul>
    <p id="remark">
      remark: 
      <span> trip is going as planned </span></p>
    </article>
    
    <p id="seeMore" class="see"> see more reports </p>
    <p id="seeLess" class="see"> see less reports </p>
    </div>
    
  </div>
  </details>
  </main>
  
 
  
  <!-- construct the dialog that displays barcode generated from trip id-->
  <dialog id="barcode">
  <h3>Scan QRCode to sync this Trip</h3>
  <div id="qrCode"></div>
  <form method="dialog">
  <button id="close" value="cancel">close</button>
  </form>
  </dialog>
  
  
  <div id="backdrop"> 
  </div>
  
  <!-- construct the dialog that displays transporter map at a particular report-->
  <dialog id="mapCont">
     <div id="map">
     </div>
  </dialog>
  
  
  <!-- construct the dialog for action confirmation -->
  <dialog id="confirm">
  <p id="confirmMsg"> Click continue to update
  <br>
  <span>thiseyeyeyeye
  hehjejeiejjdjdjdjdjdjdjdjdjdjdjdjjdjdjdjdjdjdjdjjdjjddjdjdjdjjdjjdjddjjjdjdjdjdjdjdjdjdjd.
  </span> trip
  
  <form method="dialog">
  <p><button class="button" id="continue">continue</button></p>
  </form>
  
  <form method="dialog">
  <p><button class="button" id="cancel">x</button></p>
  </form>
  </dialog>
  
  
    
 <script src="{% static 'app/script/manage.js' %}"></script>
 <script type="text/javascript" src="{% static 'app/script/qrcode.min.js' %}"></script>
 <script src="https://api.mapbox.com/mapbox-gl-js/v2.12.0/mapbox-gl.js"></script>

</body>
</html>