{% load static %}
<!DOCTYPE html>
<html>
  <head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Transit Manage Screen</title>
    
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/manage.css' %}">
    
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.12.0/mapbox-gl.css" rel="stylesheet">
    
  </head>
  
<body>

  <header>
    <div id="header">
      <img id='pin' src="{% static 'app/image/pin.png' %}"/>
       <h4>
          {{ user.username }} 
          <sub> {{ user.user_type }} </sub>
          <a class="logout" href="{% url "logout" %}">Logout</a>
       </h4>
    </div>
     
   <a href="/admin/transit">
     <img id="logo" src="{% static 'app/image/logo.png' %}"/>
   </a>
   
   <h3> Trips<sub>(6)</sub></h3>
   
   <div class="due-links">
     {% if due_trips %}
     <a href="#due-trip"> due trips </a>
     {% endif %}
     {% if oneDay_trips %}
     <a href="#one-day"> due in 24 hours </a>
     {% endif %}
     {% if twoDays_trips %}
     <a href="#two-days"> due in 2 day </a>
     {% endif %}
     {% if oneWeek_trips %}
     <a href="#one-week"> due in A week </a>
     {% endif %}
     {% if twoWeeks_trips %}
     <a href="#two-weeks"> due 2 weeks </a>
     {% endif %}
     {% if oneMonth_trips %}
     <a href="#one-month"> due 1 month </a>
     {% endif %}
     {% if months_trips %}
     <a href="#months"> due in months </a>
     {% endif %}
   </div>
   
   <hr/>
  </header> 
  
  
  <main>
   <div id="notify">
    <p>
     <span>PINNACLE STUDIO</span>
     trip updated successfully
    </p>
   </div>
  
  {% if due_trips %}
  <h5 id="due-trip" class="due">Already due</h5>
  {% for trip in due_trips %}
  <details>
    <summary>
      <span>{{ trip.booking.name }}</span>
      <div id="info">
        {% with report=trip.latest_report %}
        <span style="background-color:{{report.get_status_display|lower}};"></span>
        {% endwith %}
        report
     </div>
     <p>{{ trip.get_progress_display }}<span class="new">new</span></p>
    </summary>
    
   <div id="more">
    
    <img class="phone" src="{% static 'app/image/phone.png' %}"/>
      
    <div class="contact">
      <h4 class="contactHead"> Contacts </h4>
      <div>
        <p>
          <span>Booker</span>
          <ul>
            <li class="no">
              <p>{{ trip.booking.booker }}</p>
              <span>{{trip.booking.contact1}}</span>
              <sub>copied</sub>
            </li>
          </ul>
          <hr>
        </p>
        
        <p>
         <span>Transporters</span>
         <ul>
         {% for escort in trip.transporters.all %}
            <li class="no">
              <p>{{ escort.firstName }} {{ escort.lastName}}</p>
              <span>{{ escort.phone }}</span>
              <sub>copied</sub>
            </li>
         {% endfor %}
          </ul>
          <hr>
        </p>
        
      </div>
      <h4 class="contactFoot">X</h4>
    </div>
   
    <p class="created" id="date">created: <span>{{ trip.created_date|date:"D d M Y" }}<sub>{{ trip.created_date|date:"H:i" }}.</sub></span></p>
    
    <ul id="origin"> 
    <li>pickup: <span>{{ trip.booking.pickup }}</span></li>
    <li>delivery: <span>{{ trip.booking.delivery }}</span></li>
    </ul>
    
    <div class="para"> 
    Trip ID: 
    <span> 
    {{ trip.sn }}
    </span>
    <img data-id="{{ trip.sn }}" src="{% static 'app/image/copy.png' %}"/>
    <h6 class="copy">coppied</h6>
    </div>
    
    <ul class="status"> 
    <li>progress: <span>{{ trip.get_progress_display }}</span></li>
    <li class="mark" data-sn="{{ trip.sn }}" data-name="{{ trip.booking.name}}">
       {% with progress=trip.progress %}
         {% if progress == "0" %}
         <button data-progress="1"> 
           mark as Departed
         </button>
         {% elif progress == "1" %}
         <button data-progress="2"> 
           mark as Pickup
         </button>
         {% elif progress == "2" %}
         <button data-progress="3"> 
           mark as Onroad
         </button>
         {% elif progress == "3" %}
         <button data-progress="4"> 
           mark as Delivered
         </button>
         {% elif progress == "4" %}
         <button data-progress="5"> 
           mark as Arrived
         </button>
         {% endif %}
       {% endwith %}
      <span>updating ...</span>
    </li>
    </ul>
    
    <br>
    <hr>
    
    <h4 id="expect">
     REPORT
    <span>Expected reports:<span class="reportCount">
     {{trip.report}}({{trip.reports.count}})
     </span></span>
    </h4>
    <div id="article">
    {% with reports=trip.reports.all %}
    {% for report in reports %}
    <article>
    <p class="created">created: <span>{{ report.date|date:"D d M Y" }}<sub>{{ report.date|date:"H:i" }}</sub></span></p>
    <ul id="report" class="status"> 
    <li>status: <span>
      {% if report.status == "G" %}
      Good
      {% elif report.status == "Y" %}
      Not Bad
      {% else %}
      Bad
      {% endif %}
    </span></li>
    <br/>
    <li>progress: <span>{{ report.get_progress_display }}</span></li>
    <li><button data-lat="{{report.latitude}}" data-long="{{report.longitude}}"> location </button></li>
    </ul>
    <p id="remark">
      remark: 
      <span> {{ report.remark }} </span>
    </p>
    </article>
    {% endfor %}
    <p id="seeMore" class="see" 
    {% if reports.count == 0 %}
    style="display:none;"
    {% endif %}
    >see more reports </p>
    <p id="seeLess" class="see">see less reports </p>
    {% endwith %}
    </div>
    
  </div>
  </details>
  {% endfor %}
  {% endif %}
  
  {% if oneDay_trips %}
  <h5 id="one-day" class="due">Due in 24 hours</h5>
  {% for trip in oneDay_trips %}
  <details>
    <summary>
      <span>{{ trip.booking.name }}</span>
      <div id="info">
        {% with report=trip.latest_report %}
        <span style="background-color:{{report.get_status_display|lower}};"></span>
        {% endwith %}
        report
     </div>
     <p>{{ trip.get_progress_display }}<span class="new">new</span></p>
    </summary>
    
   <div id="more">
    
    <img class="phone" src="{% static 'app/image/phone.png' %}"/>
      
    <div class="contact">
      <h4 class="contactHead"> Contacts </h4>
      <div>
        <p>
          <span>Booker</span>
          <ul>
            <li class="no">
              <p>{{ trip.booking.booker }}</p>
              <span>{{trip.booking.contact1}}</span>
              <sub>copied</sub>
            </li>
          </ul>
          <hr>
        </p>
        
        <p>
         <span>Transporters</span>
         <ul>
         {% for escort in trip.transporters.all %}
            <li class="no">
              <p>{{ escort.firstName }} {{ escort.lastName}}</p>
              <span>{{ escort.phone }}</span>
              <sub>copied</sub>
            </li>
         {% endfor %}
          </ul>
          <hr>
        </p>
        
      </div>
      <h4 class="contactFoot">X</h4>
    </div>
   
    <p class="created" id="date">created: <span>{{ trip.created_date|date:"D d M Y" }}<sub>{{ trip.created_date|date:"H:i" }}.</sub></span></p>
    
    <ul id="origin"> 
    <li>pickup: <span>{{ trip.booking.pickup }}</span></li>
    <li>delivery: <span>{{ trip.booking.delivery }}</span></li>
    </ul>
    
    <div class="para"> 
    Trip ID: 
    <span> 
    {{ trip.sn }}
    </span>
    <img data-id="{{ trip.sn }}" src="{% static 'app/image/copy.png' %}"/>
    <h6 class="copy">coppied</h6>
    </div>
    
    <ul class="status"> 
    <li>progress: <span>{{ trip.get_progress_display }} </span></li>
    <li class="mark" data-sn="{{ trip.sn }}" data-name="{{ trip.booking.name}}">
       {% with progress=trip.progress %}
         {% if progress == "0" %}
         <button data-progress="1"> 
           mark as Departed
         </button>
         {% elif progress == "1" %}
         <button data-progress="2"> 
           mark as Pickup
         </button>
         {% elif progress == "2" %}
         <button data-progress="3"> 
           mark as Onroad
         </button>
         {% elif progress == "3" %}
         <button data-progress="4"> 
           mark as Delivered
         </button>
         {% elif progress == "4" %}
         <button data-progress="5"> 
           mark as Arrived
         </button>
         {% endif %}
       {% endwith %}
      <span>updating ...</span>
    </li>
    </ul>
    
    <br>
    <hr>
    
    <h4 id="expect">
     REPORT
    <span>Expected reports:<span class="reportCount">
     {{trip.report}}({{trip.reports.count}})
     </span></span>
    </h4>
    <div id="article">
    {% with reports=trip.reports.all %}
    {% for report in reports %}
    <article>
    <p class="created">created: <span>{{ report.date|date:"D d M Y" }}<sub>{{ report.date|date:"H:i" }}</sub></span></p>
    <ul id="report" class="status"> 
    <li>status: <span>
      {% if report.status == "G" %}
      Good
      {% elif report.status == "Y" %}
      Not Bad
      {% else %}
      Bad
      {% endif %}
    </span></li>
    <br/>
    <li>progress: <span>{{ report.get_progress_display }}</span></li>
    <li><button data-lat="{{report.latitude}}" data-long="{{report.longitude}}"> location </button></li>
    </ul>
    <p id="remark">
      remark: 
      <span> {{ report.remark }} </span>
    </p>
    </article>
    {% endfor %}
    <p id="seeMore" class="see"
    {% if reports.count == 0 %}
    style="display:none;"
    {% endif %}
    >see more reports </p>
    <p id="seeLess" class="see">see less reports </p>
    {% endwith %}
    </div>
    
  </div>
  </details>
  {% endfor %}
  {% endif %}
  
  {% if twoDays_trips %}
  <h5 id="two-days" class="due">Due in 2 days</h5>
  {% for trip in twoDays_trips %}
  <details>
    <summary>
      <span>{{ trip.booking.name }}</span>
      <div id="info">
        {% with report=trip.latest_report %}
        <span style="background-color:{{report.get_status_display|lower}};"></span>
        {% endwith %}
        report
     </div>
     <p>{{ trip.get_progress_display }}<span class="new">new</span></p>
    </summary>
    
   <div id="more">
    
    <img class="phone" src="{% static 'app/image/phone.png' %}"/>
      
    <div class="contact">
      <h4 class="contactHead"> Contacts </h4>
      <div>
        <p>
          <span>Booker</span>
          <ul>
            <li class="no">
              <p>{{ trip.booking.booker }}</p>
              <span>{{trip.booking.contact1}}</span>
              <sub>copied</sub>
            </li>
          </ul>
          <hr>
        </p>
        
        <p>
         <span>Transporters</span>
         <ul>
         {% for escort in trip.transporters.all %}
            <li class="no">
              <p>{{ escort.firstName }} {{ escort.lastName}}</p>
              <span>{{ escort.phone }}</span>
              <sub>copied</sub>
            </li>
         {% endfor %}
          </ul>
          <hr>
        </p>
        
      </div>
      <h4 class="contactFoot">X</h4>
    </div>
   
    <p class="created" id="date">created: <span>{{ trip.created_date|date:"D d M Y" }}<sub>{{ trip.created_date|date:"H:i" }}.</sub></span></p>
    
    <ul id="origin"> 
    <li>pickup: <span>{{ trip.booking.pickup }}</span></li>
    <li>delivery: <span>{{ trip.booking.delivery }}</span></li>
    </ul>
    
    <div class="para"> 
    Trip ID: 
    <span> 
    {{ trip.sn }}
    </span>
    <img data-id="{{ trip.sn }}" src="{% static 'app/image/copy.png' %}"/>
    <h6 class="copy">coppied</h6>
    </div>
    
    <ul class="status"> 
    <li>progress: <span>{{ trip.get_progress_display }} </span></li>
    <li class="mark" data-sn="{{ trip.sn }}" data-name="{{ trip.booking.name}}">
       {% with progress=trip.progress %}
         {% if progress == "0" %}
         <button data-progress="1"> 
           mark as Departed
         </button>
         {% elif progress == "1" %}
         <button data-progress="2"> 
           mark as Pickup
         </button>
         {% elif progress == "2" %}
         <button data-progress="3"> 
           mark as Onroad
         </button>
         {% elif progress == "3" %}
         <button data-progress="4"> 
           mark as Delivered
         </button>
         {% elif progress == "4" %}
         <button data-progress="5"> 
           mark as Arrived
         </button>
         {% endif %}
       {% endwith %}
      <span>updating ...</span>
    </li>
    </ul>
    
    <br>
    <hr>
    
    <h4 id="expect">
     REPORT
    <span>Expected reports:<span class="reportCount">
     {{trip.report}}({{trip.reports.count}})
     </span></span>
    </h4>
    <div id="article">
    {% with reports=trip.reports.all %}
    {% for report in reports %}
    <article>
    <p class="created">created: <span>{{ report.date|date:"D d M Y" }}<sub>{{ report.date|date:"H:i" }}</sub></span></p>
    <ul id="report" class="status"> 
    <li>status: <span>
      {% if report.status == "G" %}
      Good
      {% elif report.status == "Y" %}
      Not Bad
      {% else %}
      Bad
      {% endif %}
    </span></li>
    <br/>
    <li>progress: <span>{{ report.get_progress_display }}</span></li>
    <li><button data-lat="{{report.latitude}}" data-long="{{report.longitude}}"> location </button></li>
    </ul>
    <p id="remark">
      remark: 
      <span> {{ report.remark }} </span>
    </p>
    </article>
    {% endfor %}
    <p id="seeMore" class="see"
    {% if reports.count == 0 %}
    style="display:none;"
    {% endif %}
    >see more reports </p>
    <p id="seeLess" class="see">see less reports </p>
    {% endwith %}
    </div>
    
  </div>
  </details>
  {% endfor %}
  {% endif %}
  
  {% if oneWeek_trips %}
  <h5 id="one-week" class="due">Due in 1 week</h5>
  {% for trip in oneWeek_trips %}
  <details>
    <summary>
      <span>{{ trip.booking.name }}</span>
      <div id="info">
        {% with report=trip.latest_report %}
        <span style="background-color:{{report.get_status_display|lower}};"></span>
        {% endwith %}
        report
     </div>
     <p>{{ trip.get_progress_display }}<span class="new">new</span></p>
    </summary>
    
   <div id="more">
    
    <img class="phone" src="{% static 'app/image/phone.png' %}"/>
      
    <div class="contact">
      <h4 class="contactHead"> Contacts </h4>
      <div>
        <p>
          <span>Booker</span>
          <ul>
            <li class="no">
              <p>{{ trip.booking.booker }}</p>
              <span>{{trip.booking.contact1}}</span>
              <sub>copied</sub>
            </li>
          </ul>
          <hr>
        </p>
        
        <p>
         <span>Transporters</span>
         <ul>
         {% for escort in trip.transporters.all %}
            <li class="no">
              <p>{{ escort.firstName }} {{ escort.lastName}}</p>
              <span>{{ escort.phone }}</span>
              <sub>copied</sub>
            </li>
         {% endfor %}
          </ul>
          <hr>
        </p>
        
      </div>
      <h4 class="contactFoot">X</h4>
    </div>
   
    <p class="created" id="date">created: <span>{{ trip.created_date|date:"D d M Y" }}<sub>{{ trip.created_date|date:"H:i" }}.</sub></span></p>
    
    <ul id="origin"> 
    <li>pickup: <span>{{ trip.booking.pickup }}</span></li>
    <li>delivery: <span>{{ trip.booking.delivery }}</span></li>
    </ul>
    
    <div class="para"> 
    Trip ID: 
    <span> 
    {{ trip.sn }}
    </span>
    <img data-id="{{ trip.sn }}" src="{% static 'app/image/copy.png' %}"/>
    <h6 class="copy">coppied</h6>
    </div>
    
    <ul class="status"> 
    <li>progress: <span>{{ trip.get_progress_display }} </span></li>
    <li class="mark" data-sn="{{ trip.sn }}" data-name="{{ trip.booking.name}}">
       {% with progress=trip.progress %}
         {% if progress == "0" %}
         <button data-progress="1"> 
           mark as Departed
         </button>
         {% elif progress == "1" %}
         <button data-progress="2"> 
           mark as Pickup
         </button>
         {% elif progress == "2" %}
         <button data-progress="3"> 
           mark as Onroad
         </button>
         {% elif progress == "3" %}
         <button data-progress="4"> 
           mark as Delivered
         </button>
         {% elif progress == "4" %}
         <button data-progress="5"> 
           mark as Arrived
         </button>
         {% endif %}
       {% endwith %}
      <span>updating ...</span>
    </li>
    </ul>
    
    <br>
    <hr>
    
    <h4 id="expect">
     REPORT
    <span>Expected reports:<span class="reportCount">
     {{trip.report}}({{trip.reports.count}})
     </span></span>
    </h4>
    <div id="article">
    {% with reports=trip.reports.all %}
    {% for report in reports %}
    <article>
    <p class="created">created: <span>{{ report.date|date:"D d M Y" }}<sub>{{ report.date|date:"H:i" }}</sub></span></p>
    <ul id="report" class="status"> 
    <li>status: <span>
      {% if report.status == "G" %}
      Good
      {% elif report.status == "Y" %}
      Not Bad
      {% else %}
      Bad
      {% endif %}
    </span></li>
    <br/>
    <li>progress: <span>{{ report.get_progress_display }}</span></li>
    <li><button data-lat="{{report.latitude}}" data-long="{{report.longitude}}"> location </button></li>
    </ul>
    <p id="remark">
      remark: 
      <span> {{ report.remark }} </span>
    </p>
    </article>
    {% endfor %}
    <p id="seeMore" class="see"
    {% if reports.count == 0 %}
    style="display:none;"
    {% endif %}
    >see more reports </p>
    <p id="seeLess" class="see">see less reports </p>
    {% endwith %}
    </div>
    
  </div>
  </details>
  {% endfor %}
  {% endif %}
  
  {% if twoWeeks_trips %}
  <h5 id="two-weeks" class="due">Due in 2 week</h5>
    {% for trip in twoWeeks_trips %}
  <details>
    <summary>
      <span>{{ trip.booking.name }}</span>
      <div id="info">
        {% with report=trip.latest_report %}
        <span style="background-color:{{report.get_status_display|lower}};"></span>
        {% endwith %}
        report
     </div>
     <p>{{ trip.get_progress_display }}<span class="new">new</span></p>
    </summary>
    
   <div id="more">
    
    <img class="phone" src="{% static 'app/image/phone.png' %}"/>
      
    <div class="contact">
      <h4 class="contactHead"> Contacts </h4>
      <div>
        <p>
          <span>Booker</span>
          <ul>
            <li class="no">
              <p>{{ trip.booking.booker }}</p>
              <span>{{trip.booking.contact1}}</span>
              <sub>copied</sub>
            </li>
          </ul>
          <hr>
        </p>
        
        <p>
         <span>Transporters</span>
         <ul>
         {% for escort in trip.transporters.all %}
            <li class="no">
              <p>{{ escort.firstName }} {{ escort.lastName}}</p>
              <span>{{ escort.phone }}</span>
              <sub>copied</sub>
            </li>
         {% endfor %}
          </ul>
          <hr>
        </p>
        
      </div>
      <h4 class="contactFoot">X</h4>
    </div>
   
    <p class="created" id="date">created: <span>{{ trip.created_date|date:"D d M Y" }}<sub>{{ trip.created_date|date:"H:i" }}.</sub></span></p>
    
    <ul id="origin"> 
    <li>pickup: <span>{{ trip.booking.pickup }}</span></li>
    <li>delivery: <span>{{ trip.booking.delivery }}</span></li>
    </ul>
    
    <div class="para"> 
    Trip ID: 
    <span> 
    {{ trip.sn }}
    </span>
    <img data-id="{{ trip.sn }}" src="{% static 'app/image/copy.png' %}"/>
    <h6 class="copy">coppied</h6>
    </div>
    
    <ul class="status"> 
    <li>progress: <span>{{ trip.get_progress_display }} </span></li>
    <li class="mark" data-sn="{{trip.sn}}" data-name="{{ trip.booking.name}}">
       {% with progress=trip.progress %}
         {% if progress == "0" %}
         <button data-progress="1"> 
           mark as Departed
         </button>
         {% elif progress == "1" %}
         <button data-progress="2"> 
           mark as Pickup
         </button>
         {% elif progress == "2" %}
         <button data-progress="3"> 
           mark as Onroad
         </button>
         {% elif progress == "3" %}
         <button data-progress="4"> 
           mark as Delivered
         </button>
         {% elif progress == "4" %}
         <button data-progress="5"> 
           mark as Arrived
         </button>
         {% endif %}
       {% endwith %}
      <span>updating ...</span>
    </li>
    </ul>
    
    <br>
    <hr>
    
    <h4 id="expect">
     REPORT
    <span>Expected reports:<span class="reportCount">
     {{trip.report}}({{trip.reports.count}})
     </span></span>
    </h4>
    <div id="article">
    {% with reports=trip.reports.all %}
    {% for report in reports %}
    <article>
    <p class="created">created: <span>{{ report.date|date:"D d M Y" }}<sub>{{ report.date|date:"H:i" }}</sub></span></p>
    <ul id="report" class="status"> 
    <li>status: <span>
      {% if report.status == "G" %}
      Good
      {% elif report.status == "Y" %}
      Not Bad
      {% else %}
      Bad
      {% endif %}
    </span></li>
    <br/>
    <li>progress: <span>{{ report.get_progress_display }}</span></li>
    <li><button data-lat="{{report.latitude}}" data-long="{{report.longitude}}"> location </button></li>
    </ul>
    <p id="remark">
      remark: 
      <span> {{ report.remark }} </span>
    </p>
    </article>
    {% endfor %}
    <p id="seeMore" class="see"
    {% if reports.count == 0 %}
    style="display:none;"
    {% endif %}
    >see more reports </p>
    <p id="seeLess" class="see">see less reports </p>
    {% endwith %}
    </div>
    
  </div>
  </details>
  {% endfor %}
  {% endif %}
  
  {% if oneMonth_trips %}
  <h5 id="one-month" class="due">Due in 1 month</h5>
  {% for trip in oneMonth_trips %}
  <details>
    <summary>
      <span>{{ trip.booking.name }}</span>
      <div id="info">
        {% with report=trip.latest_report %}
        <span style="background-color:{{report.get_status_display|lower}};"></span>
        {% endwith %}
        report
     </div>
     <p>{{ trip.get_progress_display }}<span class="new">new</span></p>
    </summary>
    
   <div id="more">
    
    <img class="phone" src="{% static 'app/image/phone.png' %}"/>
      
    <div class="contact">
      <h4 class="contactHead"> Contacts </h4>
      <div>
        <p>
          <span>Booker</span>
          <ul>
            <li class="no">
              <p>{{ trip.booking.booker }}</p>
              <span>{{trip.booking.contact1}}</span>
              <sub>copied</sub>
            </li>
          </ul>
          <hr>
        </p>
        
        <p>
         <span>Transporters</span>
         <ul>
         {% for escort in trip.transporters.all %}
            <li class="no">
              <p>{{ escort.firstName }} {{ escort.lastName}}</p>
              <span>{{ escort.phone }}</span>
              <sub>copied</sub>
            </li>
         {% endfor %}
          </ul>
          <hr>
        </p>
        
      </div>
      <h4 class="contactFoot">X</h4>
    </div>
   
    <p class="created" id="date">created: <span>{{ trip.created_date|date:"D d M Y" }}<sub>{{ trip.created_date|date:"H:i" }}.</sub></span></p>
    
    <ul id="origin"> 
    <li>pickup: <span>{{ trip.booking.pickup }}</span></li>
    <li>delivery: <span>{{ trip.booking.delivery }}</span></li>
    </ul>
    
    <div class="para"> 
    Trip ID: 
    <span> 
    {{ trip.sn }}
    </span>
    <img data-id="{{ trip.sn }}" src="{% static 'app/image/copy.png' %}"/>
    <h6 class="copy">coppied</h6>
    </div>
    
    <ul class="status"> 
    <li>progress: <span>{{ trip.get_progress_display }} </span></li>
    <li class="mark" data-sn="{{trip.sn}}" data-name="{{ trip.booking.name}}">
       {% with progress=trip.progress %}
         {% if progress == "0" %}
         <button data-progress="1"> 
           mark as Departed
         </button>
         {% elif progress == "1" %}
         <button data-progress="2"> 
           mark as Pickup
         </button>
         {% elif progress == "2" %}
         <button data-progress="3"> 
           mark as Onroad
         </button>
         {% elif progress == "3" %}
         <button data-progress="4"> 
           mark as Delivered
         </button>
         {% elif progress == "4" %}
         <button data-progress="5"> 
           mark as Arrived
         </button>
         {% endif %}
       {% endwith %}
      <span>updating ...</span>
    </li>
    </ul>
    
    <br>
    <hr>
    
    <h4 id="expect">
     REPORT
    <span>Expected reports:<span class="reportCount">
     {{trip.report}}({{trip.reports.count}})
     </span></span>
    </h4>
    <div id="article">
    {% with reports=trip.reports.all %}
    {% for report in reports %}
    <article>
    <p class="created">created: <span>{{ report.date|date:"D d M Y" }}<sub>{{ report.date|date:"H:i" }}</sub></span></p>
    <ul id="report" class="status"> 
    <li>status: <span>
      {% if report.status == "G" %}
      Good
      {% elif report.status == "Y" %}
      Not Bad
      {% else %}
      Bad
      {% endif %}
    </span></li>
    <br/>
    <li>progress: <span>{{ report.get_progress_display }}</span></li>
    <li><button data-lat="{{report.latitude}}" data-long="{{report.longitude}}"> location </button></li>
    </ul>
    <p id="remark">
      remark: 
      <span> {{ report.remark }} </span>
    </p>
    </article>
    {% endfor %}
    <p id="seeMore" class="see"
    {% if reports.count == 0 %}
    style="display:none;"
    {% endif %}
    >see more reports </p>
    <p id="seeLess" class="see">see less reports </p>
    {% endwith %}
    </div>
    
  </div>
  </details>
  {% endfor %}
  {% endif %}
  
  {% if months_trips %}
  <h5 id="months" class="due">Due in months</h5>
  {% for trip in months_trips %}
  <details>
    <summary>
      <span>{{ trip.booking.name }}</span>
      <div id="info">
        {% with report=trip.latest_report %}
        <span style="background-color:{{report.get_status_display|lower}};"></span>
        {% endwith %}
        report
     </div>
     <p>{{ trip.get_progress_display }}<span class="new">new</span></p>
    </summary>
    
   <div id="more">
    
    <img class="phone" src="{% static 'app/image/phone.png' %}"/>
      
    <div class="contact">
      <h4 class="contactHead"> Contacts </h4>
      <div>
        <p>
          <span>Booker</span>
          <ul>
            <li class="no">
              <p>{{ trip.booking.booker }}</p>
              <span>{{trip.booking.contact1}}</span>
              <sub>copied</sub>
            </li>
          </ul>
          <hr>
        </p>
        
        <p>
         <span>Transporters</span>
         <ul>
         {% for escort in trip.transporters.all %}
            <li class="no">
              <p>{{ escort.firstName }} {{ escort.lastName}}</p>
              <span>{{ escort.phone }}</span>
              <sub>copied</sub>
            </li>
         {% endfor %}
          </ul>
          <hr>
        </p>
        
      </div>
      <h4 class="contactFoot">X</h4>
    </div>
   
    <p class="created" id="date">created: <span>{{ trip.created_date|date:"D d M Y" }}<sub>{{ trip.created_date|date:"H:i" }}.</sub></span></p>
    
    <ul id="origin"> 
    <li>pickup: <span>{{ trip.booking.pickup }}</span></li>
    <li>delivery: <span>{{ trip.booking.delivery }}</span></li>
    </ul>
    
    <div class="para"> 
    Trip ID: 
    <span> 
    {{ trip.sn }}
    </span>
    <img data-id="{{ trip.sn }}" src="{% static 'app/image/copy.png' %}"/>
    <h6 class="copy">coppied</h6>
    </div>
    
    <ul class="status"> 
    <li>progress: <span>{{ trip.get_progress_display }} </span></li>
    <li class="mark" data-sn="{{trip.sn}}" data-name="{{ trip.booking.name}}">
       {% with progress=trip.progress %}
         {% if progress == "0" %}
         <button data-progress="1"> 
           mark as Departed
         </button>
         {% elif progress == "1" %}
         <button data-progress="2"> 
           mark as Pickup
         </button>
         {% elif progress == "2" %}
         <button data-progress="3"> 
           mark as Onroad
         </button>
         {% elif progress == "3" %}
         <button data-progress="4"> 
           mark as Delivered
         </button>
         {% elif progress == "4" %}
         <button data-progress="5"> 
           mark as Arrived
         </button>
         {% endif %}
       {% endwith %}
      <span>updating ...</span>
    </li>
    </ul>
    
    <br>
    <hr>
    
    <h4 id="expect">
     REPORT
    <span>Expected reports:<span class="reportCount">
     {{trip.report}}({{trip.reports.count}})
     </span></span>
    </h4>
    <div id="article">
    {% with reports=trip.reports.all %}
    {% for report in reports %}
    <article>
    <p class="created">created: <span>{{ report.date|date:"D d M Y" }}<sub>{{ report.date|date:"H:i" }}</sub></span></p>
    <ul id="report" class="status"> 
    <li>status: <span>
      {% if report.status == "G" %}
      Good
      {% elif report.status == "Y" %}
      Not Bad
      {% else %}
      Bad
      {% endif %}
    </span></li>
    <br/>
    <li>progress: <span>{{ report.get_progress_display }}</span></li>
    <li><button data-lat="{{report.latitude}}" data-long="{{report.longitude}}"> location </button></li>
    </ul>
    <p id="remark">
      remark: 
      <span> {{ report.remark }} </span>
    </p>
    </article>
    {% endfor %}
    <p id="seeMore" class="see"
    {% if reports.count == 0 %}
    style="display:none;"
    {% endif %}
    >see more reports </p>
    <p id="seeLess" class="see">see less reports </p>
    {% endwith %}
    </div>
    
  </div>
  </details>
  {% endfor %}
  {% endif %}

  </main>
  
 
  
  <!-- construct the dialog that displays barcode generated from trip id-->
  <dialog id="barcode">
  <h3>Scan QRCode to sync this Trip</h3>
  <div id="qrCode"></div>
  <form method="dialog">
  <button id="close" value="cancel">close</button>
  </form>
  </dialog>
  
  
  <div id="backdrop"> 
  </div>
  
  <!-- construct the dialog that displays transporter map at a particular report-->
  <dialog id="mapCont">
     <div id="map">
     </div>
  </dialog>
  
  
  <!-- construct the dialog for action confirmation -->
  <dialog id="confirm">
  <p id="confirmMsg"> Click continue to update
  <br>
  <span>thiseyeyeyeye
  hehjejeiejjdjdjdjdjdjdjdjdjdjdjdjjdjdjdjdjdjdjdjjdjjddjdjdjdjjdjjdjddjjjdjdjdjdjdjdjdjdjd.
  </span> trip
  
  <form method="dialog">
  <p><button class="button" id="continue">continue</button></p>
  </form>
  
  <form method="dialog">
  <p><button class="button" id="cancel">x</button></p>
  </form>
  </dialog>
  
  
    
 <script src="{% static 'app/script/manage.js' %}"></script>
 <script type="text/javascript" src="{% static 'app/script/qrcode.min.js' %}"></script>
 <script src="https://api.mapbox.com/mapbox-gl-js/v2.12.0/mapbox-gl.js"></script>

</body>
</html>