{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Transit Monitor Screen</title>
     
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/monitor.css' %}">
    
  </head>
  
<body>
  <header>
    <div id="header">
      <img id='pin' src="{% static 'app/image/pin.png' %}"/>
       <h4> admin </h4>
    </div>
     
   <a href="/admin/transit">
     <img id="logo" src="{% static 'app/image/logo.png' %}"/>
   </a>
   
   <h4 id="nav">
     <span id="trip" class="active" data-url="{% url "app:monitor" %}">Trips</span>
     <span id="pay" data-url="{% url "app:payroll" %}">Payroll</span>
   </h4>
   <hr/>
  </header> 
  
  <main>
    
  <div id="notify">
    <p>
     <span>PINNACLE STUDIO</span>
     trip closed successfully
    </p>
  </div>
  
  <details>
    <summary>
      <span>PINNACLE STUDIO</span>
      <sub id="info"><span></span>report</sub>
      <p>delivered</p>
    </summary>
    
   <div id="more">
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    
    <ul id="origin"> 
    <li>pickup: <span> Ikire stationnnnnnnsjsjjsjskskskskkskshshjdjdjdsjsjsjs</span></li>
    <li>delivery: <span>Akureddddd dxxxxxxxxxxxxhshhshshshgdhshshjshsjshshsh</span></li>
    </ul>
    
    <div class="para"> 
    Trip ID: 
    <span> cea088de-498a-4511-93d4-3bb0b23cd845
    </span>
    <img data-id="cea088de-498a-4511-93d4-3bb0b23cd845" src="{% static 'app/image/copy.png' %}"/>
    <h6 class="copy">coppied</h6>
    </div>
    
    <ul class="status"> 
    <li class="first">status: <span>open<span></li>
    <li class="remove">
     <button data-name="PINNACLE STUDIO">mark as closed</button>
     <span>updating ...</span>
    </li>
    </ul>
    <br>
    
   <p id="progress">progress: <b>pending</b></p>
    
  </div>
  </details>
  
  
  <details>
    <summary>
      <span>PINNACLE STUDIOgdhdjjdjdjdjdjjdhdhdhdjdjrjjdjdjdjdfjfjhdhejrbdbdjrjriirjrhfjrjr</span>
      <sub id="info"><span></span>report</sub>
      <p>delivered</p>
    </summary>
    
   <div id="more">
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    
    <ul id="origin"> 
    <li>pickup: <span> Ikire stationnnnnnnsjsjjsjskskskskkskshshjdjdjdsjsjsjs</span></li>
    <li>delivery: <span>Akureddddddxxxxxxxxxxxxhshhshshshgdhshshjshsjshshsh</span></li>
    </ul>
    
    <div class="para"> 
    Trip ID: 
    <span> 525e56d6-a4fc-45e5-844a-7636df7ebcd5
    </span>
    <img data-id="525e56d6-a4fc-45e5-844a-7636df7ebcd5" src="{% static 'app/image/copy.png' %}"/>
    <h6 class="copy">coppied</h6>
    </div>
    
    <ul class="status"> 
    <li class="first">status: <span>close<span></li>
    <li class="remove">
      <button data-name="PINNACLE STUDIOgdhdjjdjdjdjdjjdhdhdhdjdjrjjdjdjdjdfjfjhdhejrbdbdjrjriirjrhfjrjr">mark as closed</button>
      <span>updating ...</span>
    </li>
    </ul>
    <br>
    
   <p id="progress">progress: <b>Delivered</b></p>
    
  </div>
  </details>
  
  
 <details>
    <summary>
      <span>PINNACLE studio</span>
      <sub id="info"><span></span>report</sub>
      <p>delivered</p>
    </summary>
    
   <div id="more">
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    
    <ul id="origin"> 
    <li>pickup: <span> Ikire stationnnnnnnsjsjjsjskskskskkskshshjdjdjdsjsjsjs</span></li>
    <li>delivery: <span>Akureddddddxxxxxxxxxxxxhshhshshshgdhshshjshsjshshsh</span></li>
    </ul>
    
    <div class="para"> 
    Trip ID: 
    <span> 1edb3c02-e640-4116-829d-36f09c21de65
    </span>
    <img data-id="1edb3c02-e640-4116-829d-36f09c21de65" src="{% static 'app/image/copy.png' %}"/>
    <h6 class="copy">coppied</h6>
    </div>
    
    <ul class="status"> 
    <li class="first">status: <span>open<span></li>
    <li class="remove">
      <button data-name="PINNACLE studio">mark as closed</button>
      <span>updating ...</span>
    </li>
    </ul>
    <br>
    
   <p id="progress">progress: <b>Delivered</b></p>
    
  </div>
  </details>
  <details>
    <summary>
      <span>PINNACLE STUDIO</span>
      <sub id="info"><span></span>report</sub>
      <p>delivered</p>
    </summary>
    
   <div id="more">
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    
    <ul id="origin"> 
    <li>pickup: <span> Ikire stationnnnnnnsjsjjsjskskskskkskshshjdjdjdsjsjsjs</span></li>
    <li>delivery: <span>Akureddddd dxxxxxxxxxxxxhshhshshshgdhshshjshsjshshsh</span></li>
    </ul>
    
    <div class="para"> 
    Trip ID: 
    <span> cea088de-498a-4511-93d4-3bb0b23cd845
    </span>
    <img data-id="cea088de-498a-4511-93d4-3bb0b23cd845" src="{% static 'app/image/copy.png' %}"/>
    <h6 class="copy">coppied</h6>
    </div>
    
    <ul class="status"> 
    <li class="first">status: <span>open<span></li>
    <li class="remove">
     <button data-name="PINNACLE STUDIO">mark as closed</button>
     <span>updating ...</span>
    </li>
    </ul>
    <br>
    
   <p id="progress">progress: <b>pending</b></p>
    
  </div>
  </details>
  
  
  <details>
    <summary>
      <span>PINNACLE STUDIOgdhdjjdjdjdjdjjdhdhdhdjdjrjjdjdjdjdfjfjhdhejrbdbdjrjriirjrhfjrjr</span>
      <sub id="info"><span></span>report</sub>
      <p>delivered</p>
    </summary>
    
   <div id="more">
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    
    <ul id="origin"> 
    <li>pickup: <span> Ikire stationnnnnnnsjsjjsjskskskskkskshshjdjdjdsjsjsjs</span></li>
    <li>delivery: <span>Akureddddddxxxxxxxxxxxxhshhshshshgdhshshjshsjshshsh</span></li>
    </ul>
    
    <div class="para"> 
    Trip ID: 
    <span> 525e56d6-a4fc-45e5-844a-7636df7ebcd5
    </span>
    <img data-id="525e56d6-a4fc-45e5-844a-7636df7ebcd5" src="{% static 'app/image/copy.png' %}"/>
    <h6 class="copy">coppied</h6>
    </div>
    
    <ul class="status"> 
    <li class="first">status: <span>close<span></li>
    <li class="remove">
      <button data-name="PINNACLE STUDIOgdhdjjdjdjdjdjjdhdhdhdjdjrjjdjdjdjdfjfjhdhejrbdbdjrjriirjrhfjrjr">mark as closed</button>
      <span>updating ...</span>
    </li>
    </ul>
    <br>
    
   <p id="progress">progress: <b>Delivered</b></p>
    
  </div>
  </details>
  
  
 <details>
    <summary>
      <span>PINNACLE studio</span>
      <sub id="info"><span></span>report</sub>
      <p>delivered</p>
    </summary>
    
   <div id="more">
    <p class="created">created: <span>20-06-2022<sub>4:30pm.</sub></span></p>
    
    <ul id="origin"> 
    <li>pickup: <span> Ikire stationnnnnnnsjsjjsjskskskskkskshshjdjdjdsjsjsjs</span></li>
    <li>delivery: <span>Akureddddddxxxxxxxxxxxxhshhshshshgdhshshjshsjshshsh</span></li>
    </ul>
    
    <div class="para"> 
    Trip ID: 
    <span> 1edb3c02-e640-4116-829d-36f09c21de65
    </span>
    <img data-id="1edb3c02-e640-4116-829d-36f09c21de65" src="{% static 'app/image/copy.png' %}"/>
    <h6 class="copy">coppied</h6>
    </div>
    
    <ul class="status"> 
    <li class="first">status: <span>open<span></li>
    <li class="remove">
      <button data-name="PINNACLE studio">mark as closed</button>
      <span>updating ...</span>
    </li>
    </ul>
    <br>
    
   <p id="progress">progress: <b>Delivered</b></p>
    
  </div>
  </details>
  </main>
  
  <!-- construct the dialog for action confirmation -->
  <dialog id="confirm">
  <p id="confirmMsg"> Click continue to close 
  <br>
  <span>thiseyeyeyeye
  hehjejeiejjdjdjdjdjdjdjdjdjdjdjdjjdjdjdjdjdjdjdjjdjjddjdjdjdjjdjjdjddjjjdjdjdjdjdjdjdjdjd.
  </span> trip
  </p>
 
  <form method="dialog">
  <p><button class="button" id="continue">continue</button></p>
  </form>
  
  <form method="dialog">
  <p><button class="button" id="cancel">X</button></p>
  </form>
  </dialog>
  



<script src="{% static 'app/script/monitor.js' %}"></script>
  
</body>
  
</html>