{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Transit Monitor Screen</title>
     
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/monitor.css' %}">
    
  </head>
  
<body>
  <header>
    <div id="header">
      <img id='pin' src="{% static 'app/image/pin.png' %}"/>
       <h4>
          {{ user.username }}
          <sub> {{ user.user_type }} </sub>
          <a class="logout" href="{% url "logout" %}">Logout</a>
       </h4>
    </div>
     
   <a href="/admin/transit">
     <img id="logo" src="{% static 'app/image/logo.png' %}"/>
   </a>
   
   <h4 id="nav">
     <a href="{% url "app:monitor" %}">Trips</a>
   </h4>
   
<div class="due-links">
     {% if due_trips %}
     <a href="#due-trip"> due trips </a>
     {% endif %}
     {% if oneDay_trips %}
     <a href="#one-day"> due in 24 hours </a>
     {% endif %}
     {% if twoDays_trips %}
     <a href="#two-days"> due in 2 day </a>
     {% endif %}
     {% if oneWeek_trips %}
     <a href="#one-week"> due in A week </a>
     {% endif %}
     {% if twoWeeks_trips %}
     <a href="#two-weeks"> due 2 weeks </a>
     {% endif %}
     {% if oneMonth_trips %}
     <a href="#one-month"> due 1 month </a>
     {% endif %}
     {% if months_trips %}
     <a href="#months"> due in months </a>
     {% endif %}
   </div>
   
   <hr/>
  </header> 
  
  <main>
    
  <div id="notify">
    <p>
     <span>PINNACLE STUDIO</span>
     trip closed successfully
    </p>
  </div>
 
 {% if due_trips %}
 <h5 id="due-trip" class="due">Already due</h5>
 {% for trip in due_trips %}
 <details>
    <summary>
      <span>{{ trip.booking.name }}</span>
      <div id="info">
        {% with report=trip.latest_report %}
        <span style="background-color:{{report.get_status_display|lower}};"></span>
        {% endwith %}
        report
     </div>
      <p>{{ trip.get_progress_display }}</p>
    </summary>
    
   <div id="more">
    <p class="created">created: <span>{{ trip.created_date|date:"D d M Y" }}<sub>{{ trip.created_date|date:"H:i" }}.</sub></span></p>
    
    <ul id="origin"> 
    <li>pickup: <span> {{ trip.booking.pickup }}</span></li>
    <li>delivery: <span>{{ trip.booking.delivery }}</span></li>
    </ul>
    
    <div class="para"> 
    Trip ID: 
    <span> {{ trip.sn }} </span>
    <img data-id="{{ trip.sn }}" src="{% static 'app/image/copy.png' %}"/>
    <h6 class="copy">coppied</h6>
    </div>
    
    <ul class="status"> 
    <li class="first">status: <span>{{ trip.get_status_display }}<span></li>
    <li class="remove">
      <button data-sn="{{trip.sn}}" data-name="{{ trip.booking.name }}">mark as closed</button>
      <span>updating ...</span>
    </li>
    </ul>
    <br>
    
   <p id="progress">
     progress: <b>{{ trip.get_progress_display }}</b>
     <sub> ({{ trip.due_date|date:"D d M Y" }}) </sub>
   </p>
    
  </div>
  </details>
  {% endfor %}
  {% endif %}
  
  {% if oneDay_trips %}
  <h5 id="one-day" class="due">Due in 24 hours</h5>
  {% for trip in oneDay_trips %}
  <details>
    <summary>
      <span>{{ trip.booking.name }}</span>
      <div id="info">
        {% with report=trip.latest_report %}
        <span style="background-color:{{report.get_status_display|lower}};"></span>
        {% endwith %}
        report
     </div>
      <p>{{ trip.get_progress_display }}</p>
    </summary>
    
   <div id="more">
    <p class="created">created: <span>{{ trip.created_date|date:"D d M Y" }}<sub>{{ trip.created_date|date:"H:i" }}.</sub></span></p>
    
    <ul id="origin"> 
    <li>pickup: <span> {{ trip.booking.pickup }}</span></li>
    <li>delivery: <span>{{ trip.booking.delivery }}</span></li>
    </ul>
    
    <div class="para"> 
    Trip ID: 
    <span> {{ trip.sn }} </span>
    <img data-id="{{ trip.sn }}" src="{% static 'app/image/copy.png' %}"/>
    <h6 class="copy">coppied</h6>
    </div>
    
    <ul class="status"> 
    <li class="first">status: <span>{{ trip.get_status_display }}<span></li>
    <li class="remove">
      <button data-sn="{{trip.sn}}" data-name="{{ trip.booking.name }}">mark as closed</button>
      <span>updating ...</span>
    </li>
    </ul>
    <br>
    
   <p id="progress">
     progress: <b>{{ trip.get_progress_display }}</b>
     <sub> ({{ trip.due_date|date:"D d M Y" }}) </sub>
   </p>
    
  </div>
  </details>
  {% endfor %}
  {% endif %}
  
  {% if twoDays_trips %}
  <h5 id="two-days" class="due">Due in 2 days</h5>
  {% for trip in twoDays_trips %}
  <details>
    <summary>
      <span>{{ trip.booking.name }}</span>
      <div id="info">
        {% with report=trip.latest_report %}
        <span style="background-color:{{report.get_status_display|lower}};"></span>
        {% endwith %}
        report
     </div>
      <p>{{ trip.get_progress_display }}</p>
    </summary>
    
   <div id="more">
    <p class="created">created: <span>{{ trip.created_date|date:"D d M Y" }}<sub>{{ trip.created_date|date:"H:i" }}.</sub></span></p>
    
    <ul id="origin"> 
    <li>pickup: <span> {{ trip.booking.pickup }}</span></li>
    <li>delivery: <span>{{ trip.booking.delivery }}</span></li>
    </ul>
    
    <div class="para"> 
    Trip ID: 
    <span> {{ trip.sn }} </span>
    <img data-id="{{ trip.sn }}" src="{% static 'app/image/copy.png' %}"/>
    <h6 class="copy">coppied</h6>
    </div>
    
    <ul class="status"> 
    <li class="first">status: <span>{{ trip.get_status_display }}<span></li>
    <li class="remove">
      <button data-sn="{{trip.sn}}" data-name="{{ trip.booking.name }}">mark as closed</button>
      <span>updating ...</span>
    </li>
    </ul>
    <br>
    
   <p id="progress">
     progress: <b>{{ trip.get_progress_display }}</b>
     <sub> ({{ trip.due_date|date:"D d M Y" }}) </sub>
   </p>
    
  </div>
  </details>
  {% endfor %}
  {% endif %}
  
  {% if oneWeek_trips %}
  <h5 id="one-week" class="due">Due in 1 week</h5>
  {% for trip in oneWeek_trips %}
  <details>
    <summary>
      <span>{{ trip.booking.name }}</span>
      <div id="info">
        {% with report=trip.latest_report %}
        <span style="background-color:{{report.get_status_display|lower}};"></span>
        {% endwith %}
        report
     </div>
      <p>{{ trip.get_progress_display }}</p>
    </summary>
    
   <div id="more">
    <p class="created">created: <span>{{ trip.created_date|date:"D d M Y" }}<sub>{{ trip.created_date|date:"H:i" }}.</sub></span></p>
    
    <ul id="origin"> 
    <li>pickup: <span> {{ trip.booking.pickup }}</span></li>
    <li>delivery: <span>{{ trip.booking.delivery }}</span></li>
    </ul>
    
    <div class="para"> 
    Trip ID: 
    <span> {{ trip.sn }} </span>
    <img data-id="{{ trip.sn }}" src="{% static 'app/image/copy.png' %}"/>
    <h6 class="copy">coppied</h6>
    </div>
    
    <ul class="status"> 
    <li class="first">status: <span>{{ trip.get_status_display }}<span></li>
    <li class="remove">
      <button data-sn="{{trip.sn}}" data-name="{{ trip.booking.name }}">mark as closed</button>
      <span>updating ...</span>
    </li>
    </ul>
    <br>
    
   <p id="progress">
     progress: <b>{{ trip.get_progress_display }}</b>
     <sub> ({{ trip.due_date|date:"D d M Y" }}) </sub>
   </p>
    
  </div>
  </details>
  {% endfor %}
  {% endif %}
  
  {% if twoWeeks_trips %}
  <h5 id="two-weeks" class="due">Due in 2 week</h5>
  {% for trip in twoWeeks_trips %}
  <details>
    <summary>
      <span>{{ trip.booking.name }}</span>
      <div id="info">
        {% with report=trip.latest_report %}
        <span style="background-color:{{report.get_status_display|lower}};"></span>
        {% endwith %}
        report
     </div>
      <p>{{ trip.get_progress_display }}</p>
    </summary>
    
   <div id="more">
    <p class="created">created: <span>{{ trip.created_date|date:"D d M Y" }}<sub>{{ trip.created_date|date:"H:i" }}.</sub></span></p>
    
    <ul id="origin"> 
    <li>pickup: <span> {{ trip.booking.pickup }}</span></li>
    <li>delivery: <span>{{ trip.booking.delivery }}</span></li>
    </ul>
    
    <div class="para"> 
    Trip ID: 
    <span> {{ trip.sn }} </span>
    <img data-id="{{ trip.sn }}" src="{% static 'app/image/copy.png' %}"/>
    <h6 class="copy">coppied</h6>
    </div>
    
    <ul class="status"> 
    <li class="first">status: <span>{{ trip.get_status_display }}<span></li>
    <li class="remove">
      <button data-sn="{{trip.sn}}" data-name="{{ trip.booking.name }}">mark as closed</button>
      <span>updating ...</span>
    </li>
    </ul>
    <br>
    
   <p id="progress">
     progress: <b>{{ trip.get_progress_display }}</b>
     <sub> ({{ trip.due_date|date:"D d M Y" }}) </sub>
   </p>
    
  </div>
  </details>
  {% endfor %}
  {% endif %}
  
  {% if oneMonth_trips %}
  <h5 id="one-month" class="due">Due in 1 month</h5>
  {% for trip in oneMonth_trips %}
  <details>
    <summary>
      <span>{{ trip.booking.name }}</span>
      <div id="info">
        {% with report=trip.latest_report %}
        <span style="background-color:{{report.get_status_display|lower}};"></span>
        {% endwith %}
        report
     </div>
      <p>{{ trip.get_progress_display }}</p>
    </summary>
    
   <div id="more">
    <p class="created">created: <span>{{ trip.created_date|date:"D d M Y" }}<sub>{{ trip.created_date|date:"H:i" }}.</sub></span></p>
    
    <ul id="origin"> 
    <li>pickup: <span> {{ trip.booking.pickup }}</span></li>
    <li>delivery: <span>{{ trip.booking.delivery }}</span></li>
    </ul>
    
    <div class="para"> 
    Trip ID: 
    <span> {{ trip.sn }} </span>
    <img data-id="{{ trip.sn }}" src="{% static 'app/image/copy.png' %}"/>
    <h6 class="copy">coppied</h6>
    </div>
    
    <ul class="status"> 
    <li class="first">status: <span>{{ trip.get_status_display }}<span></li>
    <li class="remove">
      <button data-sn="{{trip.sn}}" data-name="{{ trip.booking.name }}">mark as closed</button>
      <span>updating ...</span>
    </li>
    </ul>
    <br>
    
   <p id="progress">
     progress: <b>{{ trip.get_progress_display }}</b>
     <sub> ({{ trip.due_date|date:"D d M Y" }}) </sub>
   </p>
    
  </div>
  </details>
  {% endfor %}
  {% endif %}
  
  {% if months_trips %}
  <h5 id="months" class="due">Due in months</h5>
  {% for trip in months_trips %}
  <details>
    <summary>
      <span>{{ trip.booking.name }}</span>
      <div id="info">
        {% with report=trip.latest_report %}
        <span style="background-color:{{report.get_status_display|lower}};"></span>
        {% endwith %}
        report
     </div>
      <p>{{ trip.get_progress_display }}</p>
    </summary>
    
   <div id="more">
    <p class="created">created: <span>{{ trip.created_date|date:"D d M Y" }}<sub>{{ trip.created_date|date:"H:i" }}.</sub></span></p>
    
    <ul id="origin"> 
    <li>pickup: <span> {{ trip.booking.pickup }}</span></li>
    <li>delivery: <span>{{ trip.booking.delivery }}</span></li>
    </ul>
    
    <div class="para"> 
    Trip ID: 
    <span> {{ trip.sn }} </span>
    <img data-id="{{ trip.sn }}" src="{% static 'app/image/copy.png' %}"/>
    <h6 class="copy">coppied</h6>
    </div>
    
    <ul class="status"> 
    <li class="first">status: <span>{{ trip.get_status_display }}<span></li>
    <li class="remove">
      <button data-sn="{{trip.sn}}" data-name="{{ trip.booking.name }}">mark as closed</button>
      <span>updating ...</span>
    </li>
    </ul>
    <br>
    
   <p id="progress">
     progress: <b>{{ trip.get_progress_display }}</b>
     <sub> ({{ trip.due_date|date:"D d M Y" }}) </sub>
   </p>
    
  </div>
  </details>
  {% endfor %}
  {% endif %}
  
  </main>
  
  <!-- construct the dialog for action confirmation -->
  <dialog id="confirm">
  <p id="confirmMsg"> Click continue to close 
  <br>
  <span>thiseyeyeyeye
  hehjejeiejjdjdjdjdjdjdjdjdjdjdjdjjdjdjdjdjdjdjdjjdjjddjdjdjdjjdjjdjddjjjdjdjdjdjdjdjdjdjd.
  </span> trip
  </p>
 
  <form method="dialog">
  <p><button class="button" id="continue">continue</button></p>
  </form>
  
  <form method="dialog">
  <p><button class="button" id="cancel">X</button></p>
  </form>
  </dialog>
  



<script src="{% static 'app/script/monitor.js' %}"></script>
  
</body>
  
</html>