{% load static %}
<!DOCTYPE html>
<html>
  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>Transit Payroll Screen</title>
    
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/payroll.css' %}">
    
  </head>
  
<body>
  <header>
    <div id="header">
      <img id='pin' src="{% static 'app/image/pin.png' %}"/>
       <h4> admin </h4>
    </div>
     
   <a href="/admin/transit">
     <img id="logo" src="{% static 'app/image/logo.png' %}"/>
   </a>
   
   <h4 id="nav">
     <span id="trip" data-url="{% url "app:monitor" %}">Trips</span>
     <span id="pay" class="active" data-url="{% url "app:payroll" %}">Payroll</span>
   </h4>
   <hr/>
  </header> 
  
  <section>
    
   <details>
    <summary>Guide</summary>
    <p>Compute the wage of a freelancer from a specified date by selecting the freelancer category and entering freelancer ID.</p>
    <h5>Note: </h5>
    <ul>
      <li>You must have updated your payroll model in the admin interface for this to work.</li>
      <li>With "set today as last pay-day" unchecked, this page can be use to get freelancer trip summary.</li>
      <li>Wages is computed from the last pay-day by default.</li>
    </ul>
    </details>
   
  <div id="radio">
  <input class="radio" type="radio" name="freelancer" value="Driver" checked> Driver
  <input class="radio" type="radio" name="freelancer" value="Mechanic"> Mechanic
  <input class="radio" type="radio" name="freelancer" value="Loader"> Loader
  </div>
  
  <br/>
   
  <div id="search">
  <input id="id" placeholder=" Enter Freelancer ID" autofocus/>
  <button>Query</button>
  </div>
  
  <p id="mark"> 
   <input type="checkbox" name="mark">
   set today as freelancer's last pay-day. 
  </p>
  
   <br/>
   <br/>
  
  <p id="input">
    compute wage from 
    <label id="browse" for="time">this</label>
    date.
     <input
     type="date"
     id="time"
     class="visually-hidden" />
   </p>
  </section>
  
  
  <!-- construct the dialog that displays error on look up-->
  <dialog id="not_found">
  <p id="error"> ID not found ! </p>
  <form method="dialog">
  <p> <button class="button" value="cancel">cancel</button> </p>
  </form>
  </dialog>
  
  
  <!-- construct the dialog that displays trip and pay summary on look up-->
  <dialog id="payroll">
    
  <div id="profile">
  <p>• SULE ADESHOLA</p>
  <a href="logo.png">
  <img src="logo.png"/>
  </a>
  </div>
  
  <div id="tripsummary">
    <h4>Trip summary<sub>from 2022-06-07</sub></h4>
  <ul>
    <li><b>Short-range:</b> <br/> 
    <span>1000</span></li>
    <li><b>Mid-range:</b> <br/>
    <span>1000</span></li>
    <li><b>Long-range:</b> <br/>
    <span>1000</span></li>
  </ul>
  <p><b>Total: </b><span class="payspan">Nil
</span></p>
  </div>

  <p><b>Wage: </b><span class="payspan">Nil</span></p>
  
  <form method="dialog">
  <p id="button"><button class="button" value="cancel">close</button></p>
  </form>
  </dialog>
  
  
  <!-- construct the dialog that displays loader-->
  <dialog id="spiner" autofocus>
  <img src="{% static 'app/image/logo.png' %}" alt="site logo"/>
  </dialog>

  
  
  
<script src="{% static 'app/script/payroll.js' %}"></script>
  
</body>
  
</html>