

   @keyframes copyAnime {
    0%   {opacity: 0;}
    50%  {opacity: 1;}
    100% {opacity: 0;}
   }
   
  @keyframes notifyAnime {
    0% {opacity: 0;}
    100% {opacity: 1;}
   }
   
   @keyframes closeAnime {
    from {opacity: 0}
    to {opacity: 1}
   }
   
   @keyframes removeAnime {
      0%   {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
   }
   
   body {
        margin: 0;
        padding: 0;
        background-color: #D3D3D3;
        overflow-y: auto;
        overflow-x: hidden;
        user-select: none;
      }
      
   main {
      margin-top: 195px;
      margin-bottom: 350px;
   }
   
   button {
     cursor: pointer;
   }
      
    #header {
        width: 180px;
        margin: auto;
        margin-top: 10px;
        display: flex;
        border-radius: 10px;
        padding: 4px;
        justify-content: center;
      }
      
    #header h4 { 
        margin: 5px;
        position: relative;
        top: 5px;
        color: #828E84;
        text-transform: capitalize;
      }
      
      #pin {
        width: 23px;
        margin: 2px 0 0 0;
        opacity: 0.7;
      }

      header {
        position: fixed;
        top: 0;
        background-color: #D3D3D3;
        width: 100%;
        z-index: 1;
      }
      
      header > hr {
        margin-top: 10px;
      }
      
      #logo {
        width: 40px;
        border-radius: 10px;
        position: relative;
        bottom: 10px;
        left: 20px;
        transform: scale(2);
      }
      
      #nav {
        margin: auto;
        width: 50%;
        display: flex;
        justify-content: center;
        position: relative;
        bottom: 10px;
        font-size: 14px;
      }
      
      #nav > a {
        display: inline-block;
        width: 40%;
        color: rgb(2, 39, 53);
        padding: 8px;
        border: 1px solid rgb(2, 39, 53);
        text-align: center;
        cursor: pointer;
        text-decoration: none;
      }
     
      .inactive {
        color: white !important;
        background-color: rgb(2, 39, 53);
      }
      
      
      details {
        border: 1px solid rgb(111, 127, 133);
        border-radius: 20px;
        width: 55%;
        overflow: hidden;
        background-color: #c0bcbc;
        margin: auto;
        margin-bottom: 50px;
        animation: removeAnime;
        animation-play-state: paused;
        animation-duration: 0.2s;
        animation-fill-mode: forwards;
      }
      
      summary {
        border-bottom: 1px solid rgb(111, 127, 133);
        padding: 7px 10px 2px 40px;
        margin-bottom: 1px;
        overflow: auto;
        cursor: pointer;
        border-radius: 20px;
        font-size: 15px;
        color: rgb(2, 39, 53);
      }
      
      summary span {
        pointer-events: none;
        display: inline-block;
        font-weight: 600;
        width: 35%;
        margin-right: 40%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
        top: 3px;
        text-transform: uppercase;
      }
      
      summary > p {
        margin: 3px 0 0 0;
        padding: 0;
        text-align: center;
        font-size: 14px;
        pointer-events: none;
      }
      
      #info {
        position: relative;
        left: 30px;
        font-size: 15.5px;
        pointer-events: none;
      }
      
      #info > span {
        display: inline-block;
        width: 5px;
        height: 5px;
        padding: 4px;
        margin-right: 5px;
        border-radius: 10px;
        background-color: green;
      }
      
      summary span::-webkit-scrollbar {
        display: none;
      }
      
      
      sub {
        font-size: 12px;
        font-weight: normal;
        position: relative;
        left: 3px;
        bottom: 3px;
        pointer-events: none;
      }
     
     .created{
       font-size: 13px;
       padding-left: 10px;
       margin-bottom: 0;
     }
     
     .created > span {
       font-size: 14px;
     }
     
     .created sub {
       color: black;
       font-size: 12px;
     }
     
     #more {
       position: relative;
       height: 260px;
       padding: 20px;
       overflow-y: scroll;
       overflow-x: hidden;
       transition: 0.2s;
     }
     
     #more::-webkit-scrollbar {
        display: none;
      }
      
     #origin {
       margin: 25px 0 15px 0;
       padding: 0 0 0 75px;
       width: 100%;
     }

   
     #origin > li {
       font-size: 13px;
       padding-bottom: 10px;
     }
     
     #origin span {
       font-size: 16px;
       color: rgb(2, 39, 53);
       font-weight: 600;
       opacity: 0.7;
       margin-left: 10px;
       display: inline-block;
       width: 60%;
       white-space: nowrap;
       overflow: scroll;
       position: relative;
       top: 4px;
       text-transform: capitalize;
     }
     
     #origin span::-webkit-scrollbar {
        display: none;
     }
     
     .first {
       margin-right: 80px;
       text-transform: capitalize;
     }
     
     .para {
       margin: 10px 0 10px 20px;
       font-size: 14px;
       font-weight: bold;
       color: rgb(2, 39, 53);
     }
     
     .para > span {
       font-size: 14px;
       font-weight: normal;
       display: inline-block;
       width: 65%;
       white-space: nowrap;
       padding: 5px 5px 5px 10px;
       color: black;
       background-color: #D3D3D3;
       border-radius: 2px;
       overflow: scroll;
       position: relative;
       left: 5px;
       top: 5px;
     }
     
   .para > span::-webkit-scrollbar {
        display: none;
    }
    
    .para > img {
      width: 30px;
      position: relative;
      top: 10px;
      left: 5px;
      cursor: pointer;
    }
     
    .copy {
      margin: 0;
      padding: 2px 0 0 80px;
      font-size: 12px;
      position: absolute;
      width: 100%;
      text-align: center;
      opacity: 0;
      animation: copyAnime;
      animation-duration: 1.5s;
      animation-play-state: paused;
    }
    
    .status {
      margin: 35px 0 0 20px;
      padding: 0;
    }
    
    .status > li {
      display: inline-block;
      font-size: 14px;
    }
    
    .status span {
      font-size: 16px;
      font-weight: bold;
      color: rgb(2, 39, 53);
    }
    
    .status button {
      background-color: orange;
      padding: 3px;
    }
    
    #progress {
      position: absolute;
      bottom: 0;
      right: 30px;
      font-size: 14px;
    }
    
    #progress > b {
      font-size: 16px;
      color: rgb(2, 39, 53);
      text-transform: capitalize;
    }
    
    #notify {
      text-align: center;
      width: 100%;
      font-size: 13px;
      position: fixed;
      top: 140px;
      z-index: 5;
      font-weight: 600;
      display: none;
    }
    
    #notify > p {
      padding: 11px 20px;
      display: inline-block;
      margin: 0 auto 0 auto;
      background-color: #343434;
      color: white;
      border-radius: 15px;
      animation: notifyAnime;
      animation-duration: 1s;
      animation-play-state: paused;
      animation-fill-mode: forward;
    }
    
    #notify span {
      display: inline-block;
      max-width: 150px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin-bottom: -4px;
      text-transform: uppercase;
    }
    
    dialog {
      background-color: #D3D3D3;
      position: fixed;
      border: 2px solid rgb(2, 39, 53);
      user-select: none;
    }
  
    dialog::backdrop {
        background: lightblue;
        opacity: 0.7;
    }
      
    #confirm {
     width: 400px;
     height: 200px;
     overflow: hidden;
     padding-top: 50px;
    }
    
    #confirm  p {
     text-align: center;
     margin-top: 25px;
     font-size: 15px;
    }
    
    #confirm > form {
     margin-top: 40px;
    }
    
    button#continue {
     font-size: 15px;
     padding: 5px;
     width: 80px;
     background-color: #D3D3D3;
    }
    
   button#cancel {
     position: absolute;
     top: 10px;
     right: 10px;
     font-weight: bold;
   }
   
   #confirmMsg > span {
     display: inline-block;
     margin-top: 5px;
     font-weight: bold;
     max-width: 200px;
     overflow: hidden;
     text-overflow: ellipsis;
     text-transform: uppercase;
     white-space: nowrap;
     position: relative;
     top: 3.5px;
     color: rgb(2, 39, 53);
   }
  
  
  .remove {
    position: relative;
  }
  
  .remove > span {
     font-size: 12px;
     color: green;
     animation: closeAnime;
     animation-play-state: paused;
     animation-duration: 1.2s;
     animation-iteration-count: infinite;
     animation-direction: alternate;
     animation-timing-function: linear;
     position: absolute;
     left: 20px;
     bottom: 27px;
   }
  

      
      
@media only screen and (max-width: 1000px) { 
  details {
    width: 70%;
  }

  #origin {
    margin: 20px 0 0 0;
  }
  
  #logo {
    bottom: 20px;
  }

  .first {
    margin-right: 50px;
  }
  
}




@media only screen and (max-width: 800px) { 
  
  summary {
    cursor: auto;
  }

  .para > img {
    cursor: auto;
  }
  
  #nav > a {
    cursor: auto;
  }
  
  #nav {
    width: 70%;
    font-size: 13px;
  }
  
  
  button {
    cursor: auto;
  }
  
  summary > span {
    margin-right: 35%;
  }
 
  
}





@media only screen and (max-width: 650px) { 
  
   header {
     padding: 2px;
   }

   #header {
    width: 150px;
   }

  details {
     width: 90%;
     top: 180px;
   }

  summary {
    padding-left: 20px;
    font-size: 14px;
  }

  summary > ul {
    padding-right: 10px;
  }
  
  summary li {
    margin-right: 10px;
  }

  .first {
    margin-right: 50px;
  }
  
  #logo {
    width: 35px;
  }
  
  #confirm {
    width: 270px;
    height: 150px;
    padding-top: 20px;
  } 
  
}
     