


@keyframes rotate {
  from {
    transform: rotateZ(0deg);
    width: 200px;
  }
  to {
    transform: rotateZ(360deg);
    width: 100px;
  }
}

body {
    margin: 0;
    padding: 0 0 300px 0;
    background-color: #D3D3D3;
    overflow-y: auto;
    overflow-x: hidden;
    user-select: none;
  }
  
button {
  cursor: pointer;
}
  
#header {
    width: 180px;
    margin: auto;
    margin-top: 10px;
    display: flex;
    border-radius: 10px;
    padding: 4px;
    justify-content: center;
  }
  
#header h4 { 
    margin: 5px;
    position: relative;
    top: 5px;
    font-weight: normal;
    color: rgb(2, 39, 53);
    text-transform: capitalize;
  }
  
  #pin {
    width: 23px;
    margin: 2px 0 0 0;
    opacity: 0.7;
  }

  header {
    position: fixed;
    background-color: #D3D3D3;
    width: 100%;
    z-index: 1; 
  }
  
  header > hr {
    margin-top: 10px;
  }
  
  #logo {
    width: 40px;
    border-radius: 10px;
    position: relative;
    bottom: 10px;
    left: 20px;
    transform: scale(2);
  }
  
  #nav {
    margin: auto;
    width: 50%;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 10px;
    font-size: 14px;
  }
  
  #nav > a {
    display: inline-block;
    width: 40%;
    color: rgb(2, 39, 53);
    padding: 8px;
    border: 1px solid rgb(2, 39, 53);
    text-align: center;
    cursor: pointer;
    text-decoration: none;
  }
  
  .inactive {
    color: white !important;
    background-color: rgb(2, 39, 53);
  }
  
  section {
     position: relative;
     top: 220px;
  }
  
  #search {
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  
  #search > input {
    width: 80%;
    padding: 7px;
    padding-left: 30px;
    font-size: 15px;
    border: 1px solid #91A3B0;
  }
  
  input:focus {
    outline: none;
    background-color: ;
  }
  
  #search > button{
    width: 20%;
    background-color: green;
    color: white;
  }
  
 .visually-hidden {
    position: absolute !important;
    background-color: red;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

input.visually-hidden:is(:focus, :focus-within) + label {
   outline: thin dotted;
}

#browse {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

#input {
  text-align: center;
  margin: 5px;
  margin-top: 20px;
}

#radio {
  text-align: center;
  padding-right: 20px;
  margin-bottom: 20px;
}

#radio > input {
  margin-left: 20px;
  cursor: pointer;
}

#mark {
  margin: 2px 0 0 0;
  padding-left: 20px;
  font-size: 14px;
}

#mark > input {
  cursor: pointer;
}

dialog {
    position: fixed;
    overflow: hidden;
    z-index: 2;
    background-color: #D3D3D3;
    border: 2px solid rgb(2, 39, 53);
    user-select: none;
  }
  
dialog::backdrop {
    background: lightblue;
    opacity: 0.7;
  }
  
#not_found {
 width: 400px;
 height: 200px;
 overflow: hidden;
 padding-top: 50px;
}

#not_found  p {
 text-align: center;
 font-size: 15px;
}

#not_found > form {
 margin-top: 40px;
}

dialog button {
 font-size: 15px;
 padding: 5px;
 width: 80px;
 background-color: #D3D3D3;
}

#payroll {
 width: 600px;
 bottom: 0;
 color: rgb(2, 39, 53);
}

#payroll > form {
margin-top: 30px;
}

#profile {
text-align: center;
margin-bottom: 10px;
}

#profile img {
height: 120px;
width: 140px;
margin: 0;
padding: 0;
border-radius: 5px;
}

#profile > p {
 padding: 0;
 margin: 0;
 margin-bottom: 10px;
 overflow-wrap: break-word;
}

.payspan {
  overflow-wrap: break-word;
}


#tripsummary {
 margin-bottom: 40px;
}

#tripsummary > ul {
 display: flex;
 list-style: none;
 padding: 0;
 justify-content: center;
 margin-bottom: 30px;
}

#tripsummary li {
 width: 21%;
 font-size: 14px;
 padding: 15px;
 overflow-wrap: break-word;
 border: 1px solid green;
}

#tripsummary > p {
 text-align: center;
}

#tripsummary sub {
 margin-left: 5px;
 font-size: 11px;
 font-weight: normal;
}

li > b {
  display: inline-block;
  padding-bottom: 5px;
}

#button {
 text-align: center;
 margin-top: 20px;
}

details {
    margin: auto;
    margin-bottom: 70px;
    border: 1px solid rgb(2, 39, 53);
    width: 55%;
    border-radius: 10px;
    font-size: 15px;
  }
  
 details > ul {
    margin: auto;
    padding: 0;
    width: 90%;
    margin-bottom: 20px;
 }
  
  details li {
    margin: 10px;
    list-style: square;
  }
  
 details > p {
    padding: 10px;
    margin: 10px 0 0 5px;
  }
  
details > h5 {
  margin: 10px 0 0 0;
  padding-left: 10px;
}
 
  
summary {
  padding: 5px;
  border-bottom: 1px solid rgb(2, 39, 53);
  border-radius: 10px;
  padding-left: 30px;
  margin-bottom: 1px;
  cursor: pointer;
  font-size: 17px;
}


#spiner {
  background-color: #D3D3D3;
  position: fixed;
  top: 0;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  border: none;
  text-align: center;
}

#spiner > img {
  width: 80px;
  border-radius: 20px;
  animation-name: rotate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  position: relative;
  top: 35%
}


  
  
  
  
@media only screen and (max-width: 1000px) { 
#logo {
 bottom: 20px;
}

#payroll {
 width: 500px;
}

details {
 width: 70%;
}

#search {
  width: 60%;
}

}

@media only screen and (max-width: 800px) { 
  
#nav > a {
  cursor: auto;
}

#nav {
  width: 70%;
  font-size: 13px;
}

#tripsummary li {
  width: 24%;
}

summary {
  cursor: auto;
}

#radio > input {
  cursor: auto;
}

button {
  cursor: auto;
}

#mark > input {
  cursor: auto;
}

#browse {
  cursor: auto;
}
  
}


@media only screen and (max-width: 650px) { 

header > img {
 width: 37px;
}

#header {
width: 150px;
}

header h4 { 
 font-size: 15px;
}

#logo {
width: 35px;
}

details {
 width: 80%;
}

#search {
 width: 90%;
}

#not_found {
width: 270px;
height: 150px;
padding-top: 20px;
} 

summary {
font-size: 14px;
}

#payroll {
 width: 400px;
}




}